.about_me {
  padding: 4rem 0 8rem 0;
}
.about_me .col-lg-6 {
  padding-right: 10rem;
}
.about_me .about_me_button_alt {
  margin-top: 1rem;
  padding: 0.75rem 1.15rem;
  display: inline-block;
  position: relative;
  top: -0.75rem;
  left: -1.15rem;
  color: #1A9BD6;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.165rem;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.about_me .about_me_button_alt i {
  margin-left: 0.35rem;
  position: relative;
  left: 0.1rem;
}
.about_me .about_me_button_alt:hover {
  cursor: pointer;
  color: #F5EE5D;
}
.about_me .icons div {
  width: 5.35rem;
  height: 5.35rem;
  margin: 0.25rem 0.25rem 2rem 0.25rem;
  display: inline-block;
  position: relative;
  top: 0;
  left: -0.25rem;
  text-align: center;
  vertical-align: middle;
}
.about_me .icons div i {
  font-size: 3.75rem;
  line-height: 5.35rem;
}
.about_me .icons div img {
  width: 3.75rem;
  height: 3.75rem;
  position: relative;
  top: 0.8rem;
}
.about_me .icons div span {
  width: 100%;
  height: auto;
  position: absolute;
  top: 5.25rem;
  left: 0;
  z-index: 1;
  word-wrap: break-word;
  vertical-align: middle;
  color: inherit;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.15rem;
  line-height: 1.15rem;
}
.about_me .icons .html_icon {
  color: #e3441c;
}
.about_me .icons .css_icon {
  color: #0e4ee1;
}
.about_me .icons .js_icon {
  color: #ebce14;
}
.about_me .icons .sass_icon {
  color: #bb3e7b;
}
.about_me .icons .bootstrap_icon {
  color: #7754ab;
}
.about_me .icons .wordpress_icon {
  color: #0078a1;
}
.about_me .icons .php_icon {
  color: #55599b;
}
.about_me .icons .sql_icon {
  color: #e7880c;
}
.about_me .icons .lua_icon {
  color: #f9f9fc;
}

@media (max-width: 1399px) {
  .about_me .col-lg-6 {
    padding-right: 8rem;
  }
}
@media (max-width: 1199px) {
  .about_me .col-lg-6 {
    padding-right: 3.85rem;
  }
}
@media (max-width: 991px) {
  .about_me .col-lg-6 {
    width: 100%;
    padding-right: 0.9rem;
  }
}
@media (max-width: 575px) {
  .about_me .col-lg-6:last-child {
    margin-top: 2rem;
    text-align: center;
  }
}