.contact {
  padding: 4rem 0 28rem 0;
  background-image: url(../images/footer_image.png);
  background-position: calc(50% + 20rem) 10rem;
  background-repeat: no-repeat;
  background-size: 70rem 60rem;
}
.contact .contact_form {
  width: 60%;
  margin-top: 4rem;
}
.contact .contact_form .contact_form_input_wrapper {
  width: 48%;
  margin-bottom: 1rem;
  float: left;
}
.contact .contact_form .contact_form_input_wrapper label {
  width: 100%;
  margin-bottom: 1.25rem;
  color: #F5EE5D;
  font-size: 1.15rem;
}
.contact .contact_form .contact_form_input_wrapper input {
  width: 100%;
  height: 2.75rem;
  padding: 0 0.35rem;
  outline: none;
  background-color: #ffffff;
  color: #06060F;
  font-size: 1.15rem;
  line-height: 2.75rem;
  border: none;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.contact .contact_form .contact_form_input_wrapper input:hover, .contact .contact_form .contact_form_input_wrapper input:focus {
  border-color: #1A9BD6;
}
.contact .contact_form .contact_form_input_wrapper:nth-child(1) {
  margin-right: 4%;
}
.contact .contact_form .contact_form_textarea_wrapper {
  width: 100%;
  display: inline-block;
  margin-top: 1.5rem;
}
.contact .contact_form .contact_form_textarea_wrapper label {
  width: 100%;
  margin-bottom: 1.25rem;
  color: #F5EE5D;
  font-size: 1.15rem;
}
.contact .contact_form .contact_form_textarea_wrapper textarea {
  width: 100%;
  min-height: 14rem;
  margin-bottom: 1.5rem;
  padding: 0.35rem;
  resize: none;
  outline: none;
  overflow: hidden;
  background-color: #ffffff;
  color: #06060F;
  font-size: 1.15rem;
  border: none;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.contact .contact_form .contact_form_textarea_wrapper textarea:hover, .contact .contact_form .contact_form_textarea_wrapper textarea:focus {
  border-color: #1A9BD6;
}
.contact .contact_form .contact_form_submit {
  padding: 0.75rem 1.5rem;
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: 500;
  border: 2px solid #1A9BD6;
  border-radius: 0.35rem;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.contact .contact_form .contact_form_submit i {
  margin-left: 0.35rem;
  position: relative;
  left: 0.1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contact .contact_form .contact_form_submit:hover {
  cursor: pointer;
  border-color: #F5EE5D;
}
.contact .contact_form .contact_form_submit:hover i {
  left: 0.3rem;
}

@media (max-width: 1399px) {
  .contact .contact_form {
    width: 70%;
  }
}
@media (max-width: 1199px) {
  .contact .contact_form {
    width: 80%;
  }
}
@media (max-width: 991px) {
  .contact .contact_form {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .contact {
    background-position: calc(50% + 20rem) 16rem;
  }
  .contact .contact_form .contact_form_input_wrapper {
    width: 100%;
  }
  .contact .contact_form .contact_form_input_wrapper:nth-child(1) {
    margin-right: 0;
  }
  .contact .contact_form .contact_form_textarea_wrapper {
    margin-top: 0.5rem;
  }
}