.contact {
  padding: 4rem 0;
  background-color: #f1f3ff;
}

.contact .col-4 {
  padding: 2.5rem 0 0 0;
}

.contact .col-4 .panel_title {
  font-size: 2.75rem;
  line-height: 3.75rem;
}

.contact .col-8 {
  padding: 0;
}

.contact .col-8 .panel_inner_wrapper {
  width: 85%;
  position: relative;
  left: 15%;
}

.contact .col-8 .panel_form {
  margin: 0;
}

@media (max-width: 991.98px) {
  .contact .col-4 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
    padding: 0;
  }
  .contact .col-4 .panel_inner_wrapper {
    padding: 0 2.5%;
  }
  .contact .col-4 .panel_title {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .contact .col-8 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  .contact .col-8 .panel_inner_wrapper {
    width: 100%;
    left: 0;
  }
}
