#contact {
	padding: 4em 0 10em 0;
	
	background-image: url(../images/scaled/header_background.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	background-size: 100% 100%;
}

#contact::before {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	
	background-color: rgba(50, 62, 129, 0.95);
}

#contact .panel_text_large {
	color: #FAFAFA;
}

#contact .panel_element_border span {
	background-color: #FAFAFA;
}

@media (max-width: 767.98px) {
	#contact {
		background-size: cover;
	}
}
