.footer {
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(#002085), to(#2828c1));
  background-image: linear-gradient(to right, #002085, #2828c1);
}

.footer .container .row {
  margin: inherit;
}

.footer .container .row div {
  padding: 0;
}

.footer .footer_logo {
  color: white;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.25rem;
}

.footer .footer_logo:hover {
  text-decoration: none;
}

.footer .footer_logo:focus {
  text-decoration: none;
}

.footer p {
  color: white;
  font-size: 1rem;
  line-height: 2.25rem;
}

.footer p i {
  margin: 0 0.5rem;
  color: #009ce9;
  font-size: 1rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer p i:hover {
  color: #e3441c;
}

.footer .footer_bottom {
  width: 100%;
  margin: 1.25rem 0 0 0;
  padding: 1rem 0 0 0;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  text-align: center;
}

.footer .footer_bottom span {
  color: white;
  font-size: 0.85rem;
  line-height: 1.25rem;
}

@media (max-width: 767.98px) {
  .footer .container .row div {
    margin: 0 0 0.5rem 0;
  }
  .footer .container .row div:last-child i {
    margin: 0 0.5rem 0 0;
  }
  .footer .footer_bottom {
    text-align: left;
  }
}
