.footer {
	background-color: #273046;
	
	text-align: center;
}

.footer .footer_text {
	height: 3em;
	margin: 1em 0;
	display: inline-block;
}

.footer .footer_text span {
	padding: 0.5em 0.5em 0 0;
	display: inline-block;
	float: left;
	
	font-family: "Aguafina Script", cursive;
	font-size: 1.75em;
	color: #fe8b8b;
	font-weight: 700;
}

.footer .footer_text p {
	padding: 0.5em 0.5em 0 0;
	float: left;
	
	line-height: 3.529em;
	font-size: 0.85em;
}
