.header_text {
  background-image: url(../images/header.svg);
  background-position: 12rem -3.5rem;
  background-repeat: no-repeat;
  background-size: 38rem auto;
}

.header_span {
  margin-bottom: 1rem;
  display: inline-block;
  position: relative;
  color: #ed0233;
  font-size: 1.15rem;
  font-weight: 500;
  opacity: 0;
  -webkit-animation: header_span_animation 0.35s ease-out;
          animation: header_span_animation 0.35s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header_span::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background-color: #ffffff;
  -webkit-animation: header_span_overlay_animation 0.65s ease-in-out;
          animation: header_span_overlay_animation 0.65s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header_title {
  margin-bottom: 2rem;
  color: #2828c1;
  font-size: 3rem;
  font-weight: 600;
}

.header_button {
  margin-right: 1rem;
  padding: 0.75rem 1.15rem;
  display: inline-block;
  color: #ffffff;
  background-color: #ee4266;
  text-decoration: none;
  border-radius: 0.35rem;
  opacity: 0;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  -webkit-animation: header_button_animation 0.3s ease-in;
          animation: header_button_animation 0.3s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.525s;
          animation-delay: 0.525s;
}

.header_button i {
  margin-left: 0.35rem;
  position: relative;
  left: 0.1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header_button:hover {
  cursor: pointer;
  background-color: #ed0233;
}

.header_button:hover i {
  left: 0.3rem;
}

.header_button_alt {
  padding: 0.75rem 1.15rem;
  display: inline-block;
  color: #ed0233;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid #ee4266;
  border-radius: 0.35rem;
  opacity: 0;
  -webkit-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
  -webkit-animation: header_button_animation 0.3s ease-in;
          animation: header_button_animation 0.3s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.525s;
          animation-delay: 0.525s;
}

.header_button_alt i {
  margin-left: 0.35rem;
  position: relative;
  left: 0.1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header_button_alt:hover {
  cursor: pointer;
  border-color: #ed0233;
}

.header_button_alt:hover i {
  left: 0.3rem;
}

.header_animation {
  color: #2828c1;
  font-size: 22rem;
  letter-spacing: -1rem;
  text-shadow: 0.5rem 0.5rem 0 #ee4266;
  -webkit-transform: rotateY(11deg) rotateX(344deg) rotateZ(8deg);
          transform: rotateY(11deg) rotateX(344deg) rotateZ(8deg);
}

.header_animation span {
  font-weight: 500;
}

@-webkit-keyframes header_span_animation {
  100% {
    opacity: 1;
  }
}

@keyframes header_span_animation {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes header_span_overlay_animation {
  100% {
    width: 0;
  }
}

@keyframes header_span_overlay_animation {
  100% {
    width: 0;
  }
}

@-webkit-keyframes header_button_animation {
  100% {
    opacity: 1;
  }
}

@keyframes header_button_animation {
  100% {
    opacity: 1;
  }
}

@media (max-width: 1399px) {
  .header_text {
    background-position: 10.75rem -2.75rem;
    background-size: 33.5rem auto;
  }
  .header_title {
    font-size: 2.65rem;
  }
  .header_animation {
    font-size: 20rem;
  }
}

@media (max-width: 1199px) {
  .header_text {
    background-position: 8.75rem -1.75rem;
    background-size: 28rem auto;
  }
  .header_title {
    font-size: 2.15rem;
  }
  .header_animation {
    font-size: 18rem;
  }
}

@media (max-width: 991px) {
  header {
    padding: 4rem 0;
  }
  .header_text {
    background-position: 10.75rem -3.25rem;
    background-size: 36rem auto;
  }
  .header_title {
    font-size: 2.75rem;
  }
  .header_animation {
    display: none;
  }
}

@media (max-width: 767px) {
  .header_text {
    background-position: 10rem -2.5rem;
    background-size: 32rem auto;
  }
  .header_title {
    font-size: 2.5rem;
  }
}

@media (max-width: 565px) {
  header {
    padding: 4rem 0 2rem 0;
  }
  .header_button {
    margin: 0 0.5rem 1rem 0;
  }
}

@media (max-width: 538px) {
  .header_text {
    background-position: -8.95rem 0.5rem;
    background-size: 32rem auto;
  }
  .header_title {
    padding-right: 6rem;
  }
}

@media (max-width: 448px) {
  .header_title {
    padding-right: 0;
  }
}
