.header {
  height: 56.25rem;
  background-image: url(../images/header_image.png);
  background-position: calc(50% + 20rem) -6rem;
  background-repeat: no-repeat;
  background-size: 70rem 50rem;
}
.header .container {
  height: 100%;
}
.header .container .row {
  height: 100%;
}

.header_span {
  margin-bottom: 1.75rem;
  display: inline-block;
  position: relative;
  top: 1rem;
  color: #F5EE5D;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.465rem;
  opacity: 0;
  -webkit-animation: header_animation 0.5s ease-out;
          animation: header_animation 0.5s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.125s;
          animation-delay: 0.125s;
}

.header_title {
  margin-bottom: 2.5rem;
  position: relative;
  top: 1rem;
  color: #ffffff;
  font-size: 3.15rem;
  opacity: 0;
  -webkit-animation: header_animation 0.5s ease-out;
          animation: header_animation 0.5s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.325s;
          animation-delay: 0.325s;
}

.header_button {
  margin: -0.9rem 1rem 0 0;
  padding: 0.75rem 1.15rem;
  display: inline-block;
  position: relative;
  top: 1rem;
  left: -1.15rem;
  color: #1A9BD6;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.365rem;
  font-weight: 600;
  text-decoration: none;
  opacity: 0;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  -webkit-animation: header_animation 0.5s ease-out;
          animation: header_animation 0.5s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.525s;
          animation-delay: 0.525s;
}
.header_button i {
  margin-left: 0.35rem;
  position: relative;
  left: 0.1rem;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.header_button:hover {
  cursor: pointer;
  color: #F5EE5D;
}
.header_button:hover i {
  left: 0.3rem;
}

.header_button_alt i {
  left: 0.15rem;
}
.header_button_alt:hover i {
  left: 0.35rem;
}

@-webkit-keyframes header_animation {
  75% {
    top: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes header_animation {
  75% {
    top: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@media (max-width: 1199px) {
  .header_text {
    width: 60%;
  }
}
@media (max-width: 991px) {
  .header {
    height: 47.25rem;
  }
  .header_text {
    width: 80%;
  }
}
@media (max-width: 575px) {
  .header {
    background-position: calc(50% + 20rem) -8rem;
  }
  .header_text {
    width: 100%;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.5rem #06060F;
  }
  .header_button {
    width: 50%;
    margin: 0;
    padding: 0.75rem 0.9rem;
    display: inline;
    left: 0;
  }
}