.header {
  position: relative;
}

.header .container {
  position: relative;
}

.header .header_pattern {
  height: 47rem;
  position: absolute;
  top: -4rem;
  right: -27.5rem;
  z-index: 0;
  pointer-events: none;
}

.header .header_scroll {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-animation: header_scroll 3s ease-in-out infinite;
          animation: header_scroll 3s ease-in-out infinite;
}

@-webkit-keyframes header_scroll {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -0.75rem, 0);
            transform: translate3d(0, -0.75rem, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes header_scroll {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -0.75rem, 0);
            transform: translate3d(0, -0.75rem, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.header .header_scroll_paused {
  opacity: 0;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.header .col-lg-6 {
  height: 100vh;
  margin: -4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header_title {
  max-width: 40rem;
  margin: 0 0 2.25rem 0;
  color: #002085;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.75rem;
}

.header .header_illustration {
  max-width: 27.5rem;
  width: 75%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 991.98px) {
  .header .header_scroll {
    display: none;
    -webkit-animation: none;
            animation: none;
  }
  .header .col-lg-6 {
    height: 45rem;
  }
  .header .col-lg-6:last-child {
    height: auto;
    margin: 0;
  }
}

@media (max-width: 767.98px) {
  .header .header_title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 575.98px) {
  .header .col-lg-6 {
    height: 40rem;
  }
}
