* {
	margin: 0;
	padding: 0;
	
	font-family: "Quicksand", sans-serif;
	letter-spacing: 0.05em;
	font-weight: 500;
	
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: auto;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

* a {
	text-decoration: none;
}

* a:hover, * a:focus {
	text-decoration: underline !important;
}

* p {
	margin: 0;
}

.no_text_select {
	user-select: none;
}

.no_text_select:hover {
	cursor: default;
}

::placeholder {
	color: inherit;
}

#page_wrapper {
	overflow: hidden;
}

#page_inner_wrapper {
	position: relative;
	left: 0;

	transition: transform 425ms ease-out;
}

.panel_transition_svg {
	width: 100%;
	height: 10em;
	display: block;
	position: relative;
}

#page_nav {
	position: fixed;
	display: none;
}

.panel {
	position: relative;
}

.panel .panel_inner_wrapper {
	width: 100%;
	height: auto;
	padding: 0 1em 2em 1em;
	position: relative;

	transition: transform 525ms ease-out, opacity 275ms ease;
}

.panel_opaque .panel_animation {
	animation-play-state: running !important;
}

.panel_transparent .panel_inner_wrapper {
	transform: translate3d(0, 5em, 0);
	
	opacity: 0;
}

.panel_opaque .panel_inner_wrapper {
	transform: translate3d(0, 0, 0);
	
	opacity: 1;
}

.panel_title {
	margin: 1.5em 0 1em 0;
	
	color: #fe8b8b;
	font-size: 1.5em;
	line-height: 1.5em;
	letter-spacing: 0.15em;
}

.panel_title_large {
	margin: 0 0 2.75em 0;
	display: inline-block;
	position: relative;
	
	color: #fe8b8b;
	font-size: 2.5em;
	text-align: center;
	letter-spacing: 0.15em;
}

.panel_title_large::before {
	width: 50%;
	height: 0.14em;
	display: inline-block;
	position: absolute;
	top: 2.25em;
	left: 50%;
	content: "";
	
	background-color: #fe8b8b;
	
	border-radius: 0.1em;

	transform: translate(-50%, -50%);
}

.panel_text_center {
	text-align: center;
}

.panel_text {
	padding: 0 0 0 1.5em;
	position: relative;

	color: #595959;
	line-height: 1.75em;
	font-size: 1.05em;
}

.panel_text::before {
	width: 0.15em;
	height: 100%;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0.15em;
	content: "";

	background-color: #4454ae;

	border-radius: 2em;
}

.panel_text_large {
	color: #283177;
	line-height: 1.85em;
	font-size: 1.2em;
}

.panel_text_link {
	display: inline-block;
	margin: 0.5em 0;
	
	transition: color 75ms ease-out;
}

.panel_text_link i {
	margin: 0 0 0 0.5em;
	position: relative;
	top: 0.1em;

	font-size: 1.15em;
}

.panel .panel_element_transparent {
	transform: translate3d(0, 10em, 0);
	
	opacity: 0;
}

.panel .panel_element_opaque {
	transform: translate3d(0, 0, 0);
	
	opacity: 1;
}

.panel_hexagon {
	overflow: hidden;
	
	background-color: transparent;
	
	transform: rotate(120deg);
	
	transition: transform 525ms ease;
	
	pointer-events: none;
}

.panel_hexagon:hover {
	transform: rotate(120deg) scale(0.85);
}

.panel_hexagon .panel_hexagon_inner_wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	background-color: transparent;
	
	transform: rotate(-60deg);
}

.panel_hexagon .panel_hexagon_inner_wrapper .panel_hexagon_background {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	
	transform: rotate(-60deg);
	
	pointer-events: auto;
}

.panel_hexagon .panel_hexagon_overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	
	background-color: rgba(50, 62, 129, 0.8);
	
	transition: top 425ms ease;
	
	user-select: none;
}

.panel_hexagon:hover .panel_hexagon_background .panel_hexagon_overlay {
	top: 0;
}

.panel_hexagon .panel_hexagon_overlay .panel_hexagon_overlay_text {
	width: 100%;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	
	color: #FAFAFA;
	font-size: 1.25em;
	font-weight: 700;
	
	transform: translate(-50%, -50%);
}

.panel_qualities .row:last-child {
	margin: 0.5em 0 0 0;
}

.panel_qualities .row:last-child::after {
	width: 100%;
	height: 0.0675em;
	margin: 5em 0 0 0;
	display: block;
	content: "";
	
	background: linear-gradient(to right, transparent, #cacade, transparent);
}

.panel_qualities .col-4 .panel_inner_wrapper {
	height: 100%;
	display: inline-block;

	background-color: rgba(240, 240, 252, 0.75);

	border-radius: 0.1em;

	transition: transform 525ms ease;
}

.panel_qualities .col-4 .panel_inner_wrapper:hover {
	transform: scale(0.9);
}

.panel_qualities .panel_quality {
	padding: 1em;
}

.panel_qualities .panel_quality ul {
	margin: 1em 0 0 0;
	
	text-align: left;

	list-style: none;
}

.panel_qualities .panel_quality ul li::before {
	width: 0.75em;
	margin: 0 0 0 0em;
	position: relative;
	display: inline-block;
	top: 0.1em;
	content: "\2022";

	color: #2828b1;
	font-size: 1.4em;
}

.panel_qualities .panel_quality ul li {
	margin: 0 0.5em 0 0;
	display: inline-block;
	
	color: #737373;
	font-size: 0.85em;
}

.panel_qualities .panel_quality span {
	width: 7em;
	height: 7em;
	display: inline-block;
	position: relative;
	
	border-bottom: 0.1em solid #283177;
}

.panel_qualities .panel_quality span i {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	
	color: #283177;
	font-size: 3em;
	
	transform: translate(-50%, -50%);
}

.panel_qualities .panel_quality .panel_title {
	margin: 2em 0 2.5em;
	display: block;
	
	color: #283177;
}

.panel_qualities .panel_quality .panel_text {
	font-size: 1em;
	text-align: left;
}

.panel_qualities .panel_quality .panel_text::before {
	width: 0.1em;
	left: 0.1em;

	background-color: #2828b1;
}

.panel_icons {
	width: 100%;
	height: 29em;
}

.panel_icons .panel_icons_inner_wrapper {
	width: 30em;
	margin: 3em auto 0 auto;
	display: table;
	
	text-align: center;
	
	pointer-events: none;
}

.panel_icons .panel_icons_inner_wrapper .panel_icons_inner_middle_wrapper {
	width: 20em;
	margin: 0 auto;
	display: table;
	position: relative;
	top: -4em;
}

.panel_icons .panel_icons_inner_wrapper .panel_icons_inner_bottom_wrapper {
	margin: 0 auto;
	display: table;
	position: relative;
	top: -8em;
}

.panel_icons .panel_icons_inner_wrapper .panel_icon_wrapper {
	margin: 0 0.5em;
	display: inline-block;
	position: relative;
}

.panel_icons .panel_icons_inner_wrapper .panel_icon_wrapper .panel_icon {
	position: relative;
	
	text-align: center;
	
	transition: transform 425ms ease, opacity 275ms ease;
}

.panel_icons .panel_icons_inner_wrapper .panel_icon_wrapper .panel_icon .panel_hexagon {
	width: 8em;
	height: 11.45em;
}

.panel_icons .panel_icons_inner_wrapper .panel_icon_wrapper .panel_icon i {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	
	color: #FAFAFA;
	font-size: 5.5em;
	
	transform: translate(-50%, -50%);
}

.panel_form {
	margin: 2.5em 0 3em 0;
}

.panel_form .panel_form_button_right .panel_form_input_button {
	pointer-events: auto;
}

.panel_form .panel_form_button_right .panel_form_input_button:hover {
	cursor: pointer;
}

.panel_form .panel_form_button_right .panel_form_input_button .panel_form_input_button_inner_wrapper div {
	opacity: 1;
}

.panel_form .panel_form_input_button {
	width: 2.25em;
	height: 3em;
	position: absolute;
	top: 0;
	right: 0;
	
	line-height: 2.5em;
	text-align: center;
	
	pointer-events: none;
}

.panel_form .panel_form_input_button .panel_form_input_button_inner_wrapper {
	width: 1.25em;
	height: 1.25em;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.panel_form .panel_form_input_button .panel_form_input_button_inner_wrapper div {
	width: 100%;
	height: 0.15em;
	position: absolute;
	top: 50%;
	left: 0%;
	
	background-color: #FAFAFA;
	
	opacity: 0;
	
	border-radius: 0.15em;
	
	transition: background-color 75ms ease-out, opacity 125ms ease;
}

.panel_form .panel_form_input_button .panel_form_input_button_inner_wrapper div:nth-of-type(1) {
	transform: rotate(45deg);
}

.panel_form .panel_form_input_button .panel_form_input_button_inner_wrapper div:nth-of-type(2) {
	transform: rotate(-45deg);
}

.panel_form .panel_form_input_button:hover .panel_form_input_button_inner_wrapper div {
	background-color: #fe9595;
}

.panel_form .panel_form_label {
	display: inline-block;
	position: absolute;
	top: 0.8em;
	left: 0.5em;
	
	color: #FAFAFA;
	font-size: 1em;
	
	pointer-events: none;
	
	transition-property: top, left, color, font-size;
	transition: 0.225s ease-out;
}

.panel_form .panel_form_label_top {
	margin-top: 1.5em !important;
}

.panel_form .panel_form_label_top .panel_form_label {
	top: -1.25em;
	left: 0;
	
	color: #fe9595;
	font-size: 0.95em;
	font-weight: 700;
}

.panel_form .panel_form_input_wrapper {
	width: 48%;
	height: 3em;
	margin: 1.5em 0 1.5em 0;
	position: relative;
	float: left;
	
	transition: margin-top 0.225s ease-out;
}

.panel_form .panel_form_input_wrapper:nth-child(1) {
	margin: 1.5em 4% 1.5em 0;
}

.panel_form .panel_form_input_wrapper .panel_form_input {
	width: 100%;
	height: 100%;
	padding: 0 2.5em 0 0.5em;
	
	background-color: transparent;
	color: #FAFAFA;
	font-size: 1em;
	
	border: none;
}

.panel_form .panel_form_textarea_wrapper {
	width: 100%;
	margin: 0 0 1.5em 0;
	display: inline-block;
	position: relative;
	
	transition: margin-top 0.225s ease-out;
}

.panel_form .panel_form_textarea_wrapper .panel_form_textarea {
	width: 100%;
	min-height: 9.375em;
	padding: 0.5em 2.5em 0 0.5em;
	overflow-y: hidden;
	
	background-color: transparent;
	color: #FAFAFA;
	font-size: 1em;
	line-height: 1.75em;
	
	border: none;

	resize: none;
}

.panel_form .panel_form_input_border {
	width: 0%;
	height: 0.15em;
	display: block;
	content: "";

	background-color: #4454ae;

	border-radius: 2em;

	animation: panel_form_input_border 725ms ease-out;
	animation-delay: 0.25s;
	animation-fill-mode: forwards;
	animation-play-state: paused;
}

@keyframes panel_form_input_border {
	100% {
		width: 100%;
	}
}

.panel_form .panel_form_submit_wrapper {
	position: relative;
	
	text-align: left;
}

.panel_form .panel_form_submit_wrapper i {
	margin: 0 0 0 0.5em;
	
	color: #FAFAFA;
	font-size: 1.15em;
}

.panel_form .panel_form_submit {
	padding: 0.85em 1.25em;
	display: inline-block;
	
	background-color: #4154c1;
	color: #FAFAFA;
	font-size: 1em;
	text-align: center;
	
	border: none;
	
	border-radius: 2em;
	
	transition: transform 525ms ease, background-color 75ms ease-out;
}

.panel_form .panel_form_submit:hover, .panel_form .panel_form_submit:focus {
	cursor: pointer;
	
	background-color: #1c2247;
	
	transform: scale(0.87);
}

@media (min-width: 1920.98px) {
	.container {
		max-width: 75em;
	}
}

@media (max-width: 991.98px) {
	.panel_qualities .col-4 {
		padding: 0 0.75em;
	}

	.panel_qualities .col-4 .panel_inner_wrapper {
		padding: 0;
	}

	.panel_qualities .panel_quality .panel_title {
		font-size: 1.25em;
	}
}

@media (max-width: 767.98px) {
	.page_inner_wrapper_mobile {
		transform: translate3d(55%, 0, 0);
	}
	
	#page_nav {
		width: 55%;
		height: 100vh;
		padding: 0;
		display: inline-block;
		position: fixed;
		top: 0;
		left: -55%;
		z-index: 11;
		
		background-color: #1c2247;
		
		transition: transform 425ms ease-out;
	}
	
	.page_nav_scroll {
		animation: none;
	}
	
	.page_nav_mobile {
		transform: translate3d(100%, 0, 0);
	}
	
	#page_nav .page_nav_element_icon {
		width: 100%;
		height: 4.5em;
		padding: 0 10%;
		float: none;
		
		line-height: 4.5em;
	}
	
	#page_nav .page_nav_element_icon:hover {
		cursor: pointer;
	}
	
	#page_nav .page_nav_element_icon span {
		position: relative;
		top: 0.225em;
		display: inline-block;
		
		font-family: "Aguafina Script", cursive;
		font-size: 2.15em;
		color: #fe8b8b;
		font-weight: 700;
	}
	
	#page_nav .page_nav_element {
		width: 100%;
		height: 3.25em;
		padding: 0 10%;
		float: none;
		
		line-height: 3.25em;
		color: #fafafa;
		font-size: 0.95em;
		font-weight: 700;
		
		border-left: 0em solid #fe8b8b;
		
		transition: border-left-width 0.175s ease-in-out, padding-right 0.175s ease-in-out,
			background-color 0.75ms ease-in-out;
	}
	
	#page_nav .page_nav_element:hover {
		cursor: pointer;
		
		background-color: #283177;
		color: #fafafa;
		
		border-left-width: 0.25em;
	}
	
	#page_nav .page_nav_element span {
		width: 2.5em;
		height: 100%;
		position: relative;
		float: left;
	}
	
	#page_nav .page_nav_element span i {
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 0;
		
		color: #4150a7;
		font-size: 1.4em;
		
		transform: translate(0, -50%);
	}
	
	.panel_title_large {
		font-size: 1.9em;
	}

	.panel_text_large {
		font-size: 1.15em;
	}

	.panel .panel_inner_wrapper {
		padding: 0 2.5% 2em 2.5%;
	}
	
	.panel_qualities .row:last-child::after {
		margin: -1.5em 0 0 0;
	}
	
	.panel_qualities .col-4 {
		min-width: 100%;
		margin: 0 0 3em 0;
	}

	.panel_qualities .col-4 .panel_inner_wrapper {
		padding: 0 2.5% 2em 2.5%;
	}

	.panel_qualities .panel_quality .panel_title {
		font-size: 1.5em;
	}
	
	.panel_form {
		margin: 2em 0 3em 0;
	}

	.panel_form .panel_form_input_wrapper {
		width: 100%;
		margin: 0 0 1.25em 0;
	}
	
	.panel_form .panel_form_input_wrapper:nth-child(1) {
		margin: 1.25em 0 1.25em 0;
	}

	.panel_form .panel_form_textarea_wrapper {
		margin: 0 0 1em 0;
	}
}

@media (max-width: 575.98px) {
	.page_inner_wrapper_mobile {
		transform: translate3d(70%, 0, 0);
	}
	
	#page_nav {
		width: 70%;
		left: -70%;
	}
	
	.panel_qualities .row:last-child::after {
		margin: 1.5em 0 0 0;
	}
}
