* {
	margin: 0;
	padding: 0;
	
	color: #fafafa;
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.075em;
	font-weight: 500;
}

body, html {
	width: 100%;
	height: auto;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

* a {
	text-decoration: none;
}

* a:hover {
	text-decoration: underline;
}

.no_text_select {
	user-select: none;
}

.no_text_select:hover {
	cursor: default;
}

#page_wrapper {
	overflow: hidden;
}

#page_inner_wrapper {
	position: relative;
}

#page_nav {
	height: 4.5em;
	padding: 0 0 0 17em;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 11;
	
	line-height: 4.5em;
}

#page_nav .page_nav_element_icon {
	display: none;
}

#page_nav .page_nav_element {
	height: 100%;
	padding: 0 0.7em;
	float: left;

	color: #404f68;
	font-size: 1.05em;
	
	transition: color 55ms ease-out;
}

#page_nav .page_nav_element:hover {
	cursor: pointer;
	
	color: #fe8b8b;
}

#page_popup {
	width: 32.5em;
	padding: 1.5em 1em 1em 1.5em;
	position: fixed;
	bottom: 1em;
	right: -32.5em;
	z-index: 15;
	
	background-color: rgba(29, 36, 47, 0.95);
	
	opacity: 0;
	
	border-radius: 0.25em;
	
	box-shadow: 0 0.25em 0.625em #131820;
	
	transition: 0.425s ease-out;
	transition-property: transform, opacity;
}

.page_popup_visible {
	transform: translate3d(-33.5em, 0, 0);
	
	opacity: 1 !important;
}

#page_popup #page_popup_title {
	font-size: 1.175em;
	color: #fe8b8b;
}

#page_popup #page_popup_text {
	min-height: 7.5em;
	margin: 0.7em 0 1.25em 0;
	
	font-size: 0.95em;
	line-height: 1.75em;
}

#page_popup #page_popup_close {
	padding: 0.7em;
	
	position: absolute;
	top: 0.5em;
	right: 0.25em;
}

#page_popup #page_popup_close div {
	width: 1.25em;
	height: 0.175em;
	position: relative;
	
	background-color: #fe7777;
	
	transition: background-color 75ms ease-out;
}

#page_popup #page_popup_close #page_popup_close_top {
	top: 0.175em;
	
	transform: rotate(45deg);
}

#page_popup #page_popup_close #page_popup_close_bottom {
	
	transform: rotate(-45deg);
}

#page_popup #page_popup_close:hover {
	cursor: pointer;
}

#page_popup #page_popup_close:hover div {
	background-color: #fe6262;
}

#page_popup #page_popup_button {
	width: 10em;
	height: 2.5em;
	
	background-color: #fe7777;
	
	border: none;
	border-radius: 0.125em;	
	
	box-shadow: 0 0.125em 0 #fe6767;
	
	transition: background-color 75ms ease-out;
}

#page_popup #page_popup_button:hover {
	cursor: pointer;
	
	background-color: #fe6262;
	
	box-shadow: 0 0.125em 0 #fe5858;
}

.panel {
	margin-top: -0.04em;
	position: relative;
}

.panel .panel_inner_wrapper {
	width: 100%;
	height: auto;
	padding: 0 1em 2em 1em;
	position: relative;

	transition: 0.325s ease-in-out;
	transition-property: transform, opacity;
}

.panel_transparent .panel_inner_wrapper {
	transform: translate3d(0, 10em, 0);
	
	opacity: 0;
}

.panel_opaque .panel_inner_wrapper {
	transform: translate3d(0, 0, 0);
	
	opacity: 1;
}

.panel_title {
	margin: 0 0 1em 0;
	
	font-size: 1.5em;
	color: #fe8b8b;
	letter-spacing: 0.05em;
}

.panel_title_large {
	margin: 1.5em 0 1.5em 0;
	
	font-size: 1.85em;
	color: #fe8b8b;
	letter-spacing: 0.05em;
}

.panel_text_center {
	text-align: center;
}

.panel_text {
	line-height: 1.75em;
	font-size: 1.05em;
}

.panel_text_large {
	line-height: 1.85em;
	font-size: 1.15em;
}

.panel_text_link {
	display: inline-block;
	padding: 0.5em 0.5em 0.5em 0;
	margin-bottom: 1em;
	
	color: #fe8b8b;
	font-weight: 700;
}

.panel_text_link i {
	display: inline;
	
	color: #fe8b8b;
}

.panel_text_link:hover {
	color: #fe8b8b;
}

.panel_transition_svg {
	width: 100%;
	height: 10em;
	margin-bottom: -0.5em;
	display: inline-block;
}

.panel .panel_element_transparent {
	transform: translate3d(0, 5em, 0);
	
	opacity: 0;
}

.panel .panel_element_opaque {
	transform: translate3d(0, 0, 0);
	
	opacity: 1;
}

.panel_icons {
	width: 100%;
}

.panel_icons .panel_icons_inner_wrapper {
	margin: 3em auto 0 auto;
	display: table;
}

.panel_icons .panel_icons_inner_wrapper .panel_icon_wrapper {
	margin: 0 0.5em 1em 0.5em;
	position: relative;
	float: left;
}

.panel_icons .panel_icons_inner_wrapper .panel_icon_wrapper .panel_icon {
	position: relative;
	
	text-align: center;
	
	transition: 0.325s ease-in-out;
	transition-property: transform, opacity;
}

.panel_icons .panel_icons_inner_wrapper .panel_icon_wrapper .panel_icon i {
	color: #fe8b8b;
	font-size: 4.5em;
	text-shadow: 0.014em 0.014em #fd6868;
}

.panel_icons .panel_icons_inner_wrapper .panel_icon_wrapper .panel_icon .panel_icon_text {
	padding: 0.7em;
	display: block;
	
	font-size: 0.9em;
}

.panel_links {
	width: 100%;
}

.panel_links .panel_links_inner_wrapper {
	margin: 3em auto 0 auto;
	display: table;
}

.panel_links .panel_links_inner_wrapper .panel_link_wrapper {
	margin: 0 1em 2em 1em;
	position: relative;
	float: left;
}

.panel_links .panel_links_inner_wrapper .panel_link_wrapper .panel_link {
	position: relative;
	
	transition: 0.525s ease-in-out;
	transition-property: transform, opacity;
}

.panel_links .panel_links_inner_wrapper .panel_link_wrapper .panel_link .panel_link_background {
	width: 17em;
	height: 10em;
	position: relative;
	
	background-repeat: no-repeat !important;
	background-position: top center !important;
	background-size: cover !important;
	
	border-radius: 0.5em 0.5em 0 0;
	
	box-shadow: 0 0.0625em 0.25em #1d242f;
}

.panel_links .panel_links_inner_wrapper .panel_link_wrapper .panel_link .panel_link_background .panel_link_text {
	width: 100%;
	position: absolute;
	top: 75%;
	left: 50%;
	
	font-size: 1.15em;
	text-align: center;
	text-shadow: 0.054em 0.054em #404040;
	
	transform: translate(-50%, -50%);
}

.panel_links .panel_links_inner_wrapper .panel_link_wrapper .panel_link .panel_link_button {
	width: 100%;
	height: 3.5em;
	display: block;
	position: relative;
	
	background-color: #fe8b8b;
	font-size: 1.05em;
	line-height: 3.5em;
	text-align: center;
	color: inherit;
	text-decoration: none;
	
	border-radius: 0 0 0.476em 0.476em;
	
	box-shadow: 0 0.417em 0 #fe6d6d;
	
	transition: background-color 75ms ease-out;
}

.panel_links .panel_links_inner_wrapper .panel_link_wrapper .panel_link .panel_link_button i {
	position: absolute;
	top: 50%;
	right: 10%;
	
	font-size: 1.15em;
	
	transform: translate(0, -50%);
}

.panel_links .panel_links_inner_wrapper .panel_link_wrapper .panel_link .panel_link_button:hover {
	background-color: #fe7777;
	
	box-shadow: 0 0.417em 0 #fe6262;
}

.panel_form {
	width: 85%;
	margin: 3em auto 3em auto;
}

.panel_form .panel_form_input_wrapper {
	width: 48%;
	margin: 0 0 2em 0;
	float: left;
}

.panel_form .panel_form_text {
	width: 100%;
	padding: 0 0 0.5em 0;
	display: inline-block;
	
	color: #fe8b8b;
	font-size: 1.05em;
}

.panel_form .panel_form_input_wrapper:nth-child(2n + 1) {
	margin-right: 4%;
}

.panel_form .panel_form_input_wrapper .panel_form_input {
	width: 100%;
	height: 3.5em;
	padding: 0 0.5em 0 1em;
	
	background-color: #3d4b64;
	font-size: 1.05em;
	
	border: none;
	
	border-radius: 0.476em;
	
	box-shadow: 0 0.417em 0 #2f394c inset;
	
	transition: background-color 75ms ease-out;
}

.panel_form .panel_form_input_wrapper .panel_form_input:focus {
	background-color: #42516c;
}

.panel_form .panel_form_textarea_wrapper {
	width: 100%;
	margin: 0 0 1.25em 0;
}

.panel_form .panel_form_textarea_wrapper .panel_form_textarea {
	width: 100%;
	min-height: 12.5em;
	padding: 1em 0.5em 0.5em 1em;
	overflow: hidden;
	
	background-color: #3d4b64;
	font-size: 1.05em;
	
	border: none;
	
	border-radius: 0.476em;
	
	box-shadow: 0 0.417em 0 #2f394c inset;
	
	resize: none;
	
	transition: background-color 75ms ease-out;
}

.panel_form .panel_form_textarea_wrapper .panel_form_textarea:focus {
	background-color: #42516c;
}

.panel_form .panel_form_submit_wrapper {
	position: relative;
}

.panel_form .panel_form_submit_wrapper i {
	position: absolute;
	top: 50%;
	right: 5%;
	
	font-size: 1.15em;
	
	transform: translate(0, -50%);
}

.panel_form .panel_form_submit {
	width: 100%;
	height: 3.5em;
	
	background-color: #fe8b8b;
	font-size: 1.05em;
	line-height: 3.5em;
	text-align: center;
	
	border: none;
	
	border-radius: 0.476em;
	
	box-shadow: 0 0.417em 0 #fe6d6d;
	
	transition: background-color 75ms ease-out;
}

.panel_form .panel_form_submit:hover, .panel_form .panel_form_submit:focus {
	cursor: pointer;
	
	background-color: #fe7777;
	
	box-shadow: 0 0.417em 0 #fe6262;
}

@media (min-width: 1920.98px) {
	.container {
		max-width: 75em;
	}
}

@media (max-width: 1919.98px) {
	#page_nav {
		padding: 0 5em 0 11em;
	}
	
	.header .header_nav {
		padding: 0 5em !important;
	}
}

@media (max-width: 1199.98px) {
	.header, .header .header_background_layer {
		background-size: cover !important;
	}
	
	.panel_links .panel_links_inner_wrapper .panel_link_wrapper .panel_link .panel_link_background {
		width: 15.5em;
	}
}

@media (max-width: 991.98px) {
	.panel_form {
		width: 92.5%;
	}
	
	.panel_links .panel_links_inner_wrapper .panel_link_wrapper {
		margin: 0 0.5em 1em 0.5em;
	}
	
	.panel_links .panel_links_inner_wrapper .panel_link_wrapper .panel_link .panel_link_background {
		width: 13.5em;
		height: 9em;
	}
	
	.panel_links .panel_links_inner_wrapper .panel_link_wrapper .panel_link .panel_link_button i {
		right: 5%;
	}
}

@media (max-width: 767.98px) {
	#page_inner_wrapper {
		transition: transform 0.425s ease-in-out;
	}
	
	.page_inner_wrapper_mobile {
		transform: translate3d(79.9%, 0, 0);
	}
	
	#page_nav {
		width: 80%;
		height: 150vh;
		padding: 0;
		position: fixed;
		left: -80%;
		
		background-color: #27303f;
		
		transition: transform 0.425s ease-in-out;
	}
	
	.page_nav_mobile {
		transform: translate3d(100%, 0, 0);
	}
	
	#page_nav .page_nav_element_icon {
		padding: 0 10%;
		display: block;
	}
	
	#page_nav .page_nav_element_icon span {
		padding: 0.225em 0 0 0;
		display: inline-block;
		
		font-family: "Aguafina Script", cursive;
		font-size: 2.15em;
		color: #fe8b8b;
		font-weight: 700;
	}
	
	#page_nav .page_nav_element {
		width: 100%;
		height: 3.25em;
		padding: 0 10%;
		float: none;
		
		line-height: 3.25em;
		color: #fafafa;
		font-size: 1.15em;
	}
	
	.header .header_title {
		top: 35% !important;
		
		font-size: 3em !important;
	}
	
	.header_nav_mobile .header_nav_mobile_inner_wrapper div {
		position: relative;
		
		opacity: 1;

		transition: 0.325s ease-out !important;
		transition-property: transform, opacity !important;
	}
	
	.header_nav_mobile_animate .header_nav_mobile_top {
		transform: rotateY(180deg) rotateZ(45deg) translate3d(0.5em, 0.5em, 0);
	}
	
	.header_nav_mobile_animate .header_nav_mobile_middle {
		opacity: 0 !important;
		
		transform: rotateY(90deg);
	}
	
	.header_nav_mobile_animate .header_nav_mobile_bottom {
		transform: rotateY(180deg) rotateZ(-45deg) translate3d(0.5em, -0.5em, 0);
	}
	
	.header .header_nav {
		padding: 0 2.5% !important;
	}
	
	.header .header_nav .header_nav_icon {
		display: none;
	}
	
	.header .header_nav .header_nav_mobile {
		display: inline-block !important;
	}
	
	.panel .panel_inner_wrapper {
		padding: 0 2.5% 2em 2.5%;
	}
	
	#page_popup {
		width: 100%;
		padding: 1.5em 2em 1.5em 1.5em;
		bottom: 0;
		right: -100%;

		border-radius: 0;
	
		box-shadow: none;
	}
	
	.page_popup_visible {
		transform: translate3d(-100%, 0, 0);
	}
	
	.panel_links .panel_links_inner_wrapper {
		width: 100%;
	}
	
	.panel_links .panel_links_inner_wrapper .panel_link_wrapper {
		width: 100%;
		margin: 0 0 1.25em 0;
	}
	
	.panel_links .panel_links_inner_wrapper .panel_link_wrapper .panel_link {
		width: 100%;
	}
	
	.panel_links .panel_links_inner_wrapper .panel_link_wrapper .panel_link .panel_link_background {
		width: 100%;
	}
	
	.panel_form {
		width: 100%;
	}
	
	.panel_form .panel_form_input_wrapper {
		width: 100%;
		margin: 0 0 1.25em 0;
	}
	
	.panel_form .panel_form_textarea_wrapper {
		margin: 0 0 0.75em 0;
	}

	.panel_form .panel_form_input_wrapper:nth-child(2n + 1) {
		margin-right: 0;
	}
}
