.projects {
  padding: 4rem 0 8rem 0;
}

.projects .project_samples {
  width: 73rem;
  max-width: 100%;
  margin: 2.25rem auto 0 auto;
  padding: 0;
}

.projects .project_samples a {
  width: 16.75rem;
  height: 16.75rem;
  margin: 0.75rem;
  float: left;
  position: relative;
  overflow: hidden;
  border-radius: 1.75rem;
  -webkit-box-shadow: 0 0.75rem 0.75rem rgba(29, 29, 126, 0.1);
          box-shadow: 0 0.75rem 0.75rem rgba(29, 29, 126, 0.1);
  opacity: 0;
  -webkit-animation: project_animation 0.5s ease-out;
          animation: project_animation 0.5s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.projects .project_samples a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.projects .project_samples a:hover img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

@-webkit-keyframes project_animation {
  0% {
    -webkit-transform: translate3d(0, 4rem, 0);
            transform: translate3d(0, 4rem, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes project_animation {
  0% {
    -webkit-transform: translate3d(0, 4rem, 0);
            transform: translate3d(0, 4rem, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 1399px) {
  .projects .project_samples {
    width: 100%;
  }
  .projects .project_samples a {
    width: 16.5rem;
    height: 16.5rem;
    margin: 0.65rem;
  }
}

@media (max-width: 1199px) {
  .projects .project_samples a {
    width: 14rem;
    height: 14rem;
    margin: 0.5rem;
  }
}

@media (max-width: 767px) {
  .projects .project_samples {
    text-align: center;
  }
  .projects .project_samples a {
    width: 15.75rem;
    height: 15.75rem;
    margin: 0.25rem;
    display: inline-block;
    float: none;
  }
}

@media (max-width: 565px) {
  .projects .project_samples a {
    width: 45%;
    height: auto;
  }
}
