.samples {
  padding: 4rem 0 0 0;
  background-color: #ffe0e0;
}

.samples .col-6 {
  padding: 0;
}

.samples .samples_selections_wrapper {
  margin: 0 0 2.5rem 0;
}

.samples .samples_selections_wrapper .samples_selections_inner_wrapper {
  display: inline-block;
}

.samples .samples_selections_wrapper .samples_selections_inner_wrapper .samples_selection {
  margin: 0.5rem;
  padding: 1rem;
  position: relative;
  float: left;
  color: #283177;
  border-radius: 0.5rem;
  -webkit-transition: background-color 175ms ease-out, -webkit-box-shadow 225ms ease-out;
  transition: background-color 175ms ease-out, -webkit-box-shadow 225ms ease-out;
  transition: box-shadow 225ms ease-out, background-color 175ms ease-out;
  transition: box-shadow 225ms ease-out, background-color 175ms ease-out, -webkit-box-shadow 225ms ease-out;
}

.samples .samples_selections_wrapper .samples_selections_inner_wrapper .samples_selection::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  border-radius: 0.5rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.05), -0.25rem -0.25rem 0.5rem 0 rgba(255, 255, 255, 0.15);
          box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.05), -0.25rem -0.25rem 0.5rem 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: -webkit-box-shadow 225ms ease-out;
  transition: -webkit-box-shadow 225ms ease-out;
  transition: box-shadow 225ms ease-out;
  transition: box-shadow 225ms ease-out, -webkit-box-shadow 225ms ease-out;
}

.samples .samples_selections_wrapper .samples_selections_inner_wrapper .samples_selection:hover {
  cursor: pointer;
  background-color: rgba(255, 184, 184, 0.5);
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.05) inset, -0.25rem -0.25rem 0.5rem 0 rgba(255, 255, 255, 0.15) inset;
          box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.05) inset, -0.25rem -0.25rem 0.5rem 0 rgba(255, 255, 255, 0.15) inset;
}

.samples .samples_selections_wrapper .samples_selections_inner_wrapper .samples_selection:hover::before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.samples .samples_selections_wrapper .samples_selections_inner_wrapper .samples_selection_active {
  background-color: rgba(255, 184, 184, 0.5);
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.05) inset, -0.25rem -0.25rem 0.5rem 0 rgba(255, 255, 255, 0.15) inset;
          box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.05) inset, -0.25rem -0.25rem 0.5rem 0 rgba(255, 255, 255, 0.15) inset;
}

.samples .samples_selections_wrapper .samples_selections_inner_wrapper .samples_selection_active::before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.samples .samples_rows_wrapper .samples_row {
  max-height: 0;
  position: relative;
  overflow: hidden;
  z-index: 2;
  opacity: 0;
  -webkit-transition-property: max-height, opacity, -webkit-transform;
  transition-property: max-height, opacity, -webkit-transform;
  transition-property: max-height, transform, opacity;
  transition-property: max-height, transform, opacity, -webkit-transform;
  -webkit-transition: 725ms ease;
  transition: 725ms ease;
  -webkit-transform: translate3d(0, 25rem, 0) scale(0);
          transform: translate3d(0, 25rem, 0) scale(0);
}

.samples .samples_rows_wrapper .samples_row_active {
  max-height: 100rem;
  padding: 0 0 5rem 0;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
}

.samples .samples_rows_wrapper .samples_row_active:nth-child(2n) .col-6:nth-child(1) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.samples .samples_rows_wrapper .samples_row_active:nth-child(2n) .col-6:nth-child(1) .samples_link {
  position: relative;
  left: 10%;
}

.samples .samples_rows_wrapper .samples_row_active:nth-child(2n) .col-6:nth-child(2) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.samples .samples_rows_wrapper .samples_row_active:nth-child(2n) .col-6:nth-child(2) .samples_text {
  left: 10%;
}

.samples .samples_rows_wrapper .samples_row_active:nth-child(2n) .col-6:nth-child(2) .samples_text_border {
  left: 40%;
}

.samples .samples_link {
  width: 90%;
  padding: 0 1rem 2rem 1rem;
  display: inline-block;
}

.samples .samples_link .panel_inner_wrapper {
  width: 92.5%;
  padding: 0;
}

.samples .samples_link .panel_inner_wrapper .samples_image_inner_wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}

.samples .samples_link .panel_inner_wrapper .samples_image_inner_wrapper .samples_image_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(50, 62, 129, 0.85);
  opacity: 0;
  border-radius: inherit;
  -webkit-transition: opacity 325ms ease;
  transition: opacity 325ms ease;
}

.samples .samples_link .panel_inner_wrapper .samples_image_inner_wrapper .samples_image_overlay span {
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #FAFAFA;
  font-size: 1.5rem;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.samples .samples_link .panel_inner_wrapper .samples_image_inner_wrapper img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: -webkit-transform 525ms ease;
  transition: -webkit-transform 525ms ease;
  transition: transform 525ms ease;
  transition: transform 525ms ease, -webkit-transform 525ms ease;
}

.samples .samples_link .panel_inner_wrapper::after {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 7.5%;
  left: 7.5%;
  z-index: -1;
  content: "";
  background-color: #ffb8b8;
  border-radius: 0.5rem;
}

.samples .samples_link:hover .panel_inner_wrapper .samples_image_inner_wrapper .samples_image_overlay {
  opacity: 1;
}

.samples .samples_link:hover .panel_inner_wrapper .samples_image_inner_wrapper img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.samples .samples_text {
  position: relative;
  top: 50%;
  z-index: 2;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.samples .samples_text .panel_inner_wrapper {
  opacity: 0;
  -webkit-transform: translate3d(-4rem, 0, 0);
          transform: translate3d(-4rem, 0, 0);
  -webkit-animation: samples_text 525ms ease;
          animation: samples_text 525ms ease;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes samples_text {
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes samples_text {
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.samples .samples_text .panel_title {
  margin: 1.5rem 0 0.5rem 0;
  color: #283177;
  font-size: 1.5rem;
}

.samples .samples_text .panel_text {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
}

.samples .samples_text .panel_text span {
  padding: 0.25rem 0 0 0;
  display: block;
  color: #404040;
  font-size: 0.8rem;
}

.samples .samples_text .panel_text::before {
  background-color: #f39c9c;
}

.samples .samples_text .panel_text_link {
  color: #283177;
  font-size: 1rem;
}

.samples .samples_text .samples_text_border {
  width: 0;
  height: 0.15rem;
  display: block;
  position: relative;
  left: -40%;
  background-color: #f39c9c;
  border-radius: 2rem;
  -webkit-animation: samples_text_border 525ms ease-out;
          animation: samples_text_border 525ms ease-out;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes samples_text_border {
  100% {
    width: 100%;
  }
}

@keyframes samples_text_border {
  100% {
    width: 100%;
  }
}

.samples .samples_transition_svg {
  bottom: 0;
  left: 0;
  background-color: transparent;
  fill: #f1f3ff;
  -webkit-transform: translate(0, 40%);
          transform: translate(0, 40%);
}

@media (max-width: 991.98px) {
  .samples .samples_link .panel_inner_wrapper .samples_image_inner_wrapper .samples_image_overlay span {
    font-size: 1.15rem;
  }
  .samples .samples_text {
    top: 40%;
  }
}

@media (max-width: 767.98px) {
  .samples {
    padding: 4rem 0;
  }
  .samples .col-6 {
    min-width: 100%;
  }
  .samples .samples_rows_wrapper .samples_row_active {
    max-height: 75rem;
    padding: 0 0 4rem 0;
  }
  .samples .samples_rows_wrapper .samples_row_active:nth-child(2n) .col-6:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .samples .samples_rows_wrapper .samples_row_active:nth-child(2n) .col-6:nth-child(1) .samples_link {
    left: 0;
  }
  .samples .samples_rows_wrapper .samples_row_active:nth-child(2n) .col-6:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .samples .samples_rows_wrapper .samples_row_active:nth-child(2n) .col-6:nth-child(2) .samples_text {
    left: 0;
  }
  .samples .samples_rows_wrapper .samples_row_active:nth-child(2n) .col-6:nth-child(2) .samples_text_border {
    left: 0;
  }
  .samples .samples_link {
    text-align: center;
  }
  .samples .samples_link .panel_inner_wrapper {
    width: 85%;
    display: inline-block;
  }
  .samples .samples_link .panel_inner_wrapper .samples_image_inner_wrapper .samples_image_overlay span {
    font-size: 1.5rem;
  }
  .samples .samples_text {
    top: 0.5rem;
    -webkit-transform: none;
            transform: none;
  }
  .samples .samples_text .panel_text_link {
    width: 100%;
    display: block;
    text-align: center;
  }
  .samples .samples_text .panel_text_link:last-child {
    text-align: left;
  }
  .samples .samples_text .panel_title {
    margin: 3.25rem 0 1.5rem 0;
  }
  .samples .samples_text .panel_text {
    margin: 0 0 1.25rem 0;
  }
  .samples .samples_text .panel_inner_wrapper {
    -webkit-transform: none;
            transform: none;
  }
  .samples .samples_text .samples_text_border {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .samples .samples_selections_wrapper {
    margin: 0.5rem 0 1.5rem 0;
  }
  .samples .samples_selections_wrapper .samples_selections_inner_wrapper .samples_selection {
    margin: 0.25rem;
    padding: 0.85rem;
  }
  .samples .samples_selections_wrapper .samples_selections_inner_wrapper .samples_selection:nth-child(1) {
    margin-left: 0;
  }
  .samples .samples_selections_wrapper .samples_selections_inner_wrapper .samples_selection:nth-child(3) {
    margin-right: 0;
  }
  .samples .samples_rows_wrapper .samples_row_active {
    padding: 0 0 2.5rem 0;
  }
  .samples .samples_link .panel_inner_wrapper {
    width: 100%;
  }
  .samples .samples_link .panel_inner_wrapper .samples_image_inner_wrapper .samples_image_overlay span {
    font-size: 1.25rem;
  }
  .samples .samples_text {
    top: -0.5rem;
  }
}
