#samples {
	padding: 5em 0 0 0;
	
	background-color: #ffe0e0;
}

#samples .panel_title_large {
	margin: 0 0 2.5em 0;

	color: #283177;
}

#samples .samples_row {
	padding: 0 0 5em 0;
}

#samples .samples_link {
	width: 100%;

	padding: 0 1em 2em 1em;
	display: inline-block;
}

#samples .samples_link .samples_image_inner_wrapper{
	overflow: hidden;
}

#samples .samples_link:hover img {
	transform: scale(1.15);
}

#samples .samples_link img {
	width: 100%;
	height: auto;

	object-fit: contain;

	border-radius: 0.1em;

	transition: transform 525ms ease;
}

#samples .samples_link .panel_inner_wrapper {
	width: 92.5%;
	padding: 0;
}

#samples .samples_link .panel_inner_wrapper::after {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 7.5%;
	left: 7.5%;
	z-index: -1;
	content: "";

	background-color: #ffb8b8;

	border-radius: 0.1em;
}

#samples .samples_text {
	position: relative;
	top: 50%;

	transform: translate(0, -50%);
}

#samples .samples_text .panel_inner_wrapper {
	opacity: 0;

	transform: translate3d(-4em, 0, 0);

	animation: samples_text 525ms ease;
	animation-delay: 0.25s;
	animation-fill-mode: forwards;
	animation-play-state: paused;
}

@keyframes samples_text {
	100% {
		opacity: 1;

		transform: translate3d(0, 0, 0);
	}
}

#samples .samples_text .panel_title {
	margin: 1.5em 0 0.4em 0;

	color: #283177;
	font-size: 1.75em;
}

#samples .samples_text .panel_text::before {
	background-color: #f39c9c;
}

#samples .samples_text .panel_text_link {
	color: #283177;
	font-size: 1em;
}

#samples .samples_text .samples_text_border {
	width: 0%;
	height: 0.15em;
	display: block;
	position: relative;
	left: -40%;

	background-color: #f39c9c;

	border-radius: 2em;

	animation: samples_text_border 525ms ease-out;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
	animation-play-state: paused;
}

@keyframes samples_text_border {
	100% {
		width: 100%;
	}
}

#samples .samples_text_left .samples_text_border {
	left: 40%;
}

@media (max-width: 991.98px) {
	#samples .samples_text {
		top: 40%;
	}
}
	
@media (max-width: 767.98px) {
	#samples .col-6 {
		min-width: 100%;
	}

	#samples .samples_row {
		padding: 0 0 4em 0;
	}

	#samples .samples_row .order-first {
		order: 1;
	}

	#samples .samples_link {
		text-align: center;
	}

	#samples .samples_link .panel_inner_wrapper {
		width: 85%;
		display: inline-block;
	}

	#samples .samples_text {
		top: 0.5em;

		transform: none;
	}

	#samples .samples_text .panel_text_link {
		width: 100%;
		display: block;

		text-align: center;
	}
	
	#samples .samples_text .panel_text_link:last-child {
		text-align: left;
	}

	#samples .samples_text .panel_title {
		margin: 2em 0 1.5em 0;
	}

	#samples .samples_text .panel_inner_wrapper {
		transform: none;
	}

	#samples .samples_text .samples_text_border {
		display: none;
	}
}

@media (max-width: 575.98px) {
	#samples .samples_row {
		padding: 0 0 2.5em 0;
	}

	#samples .samples_text {
		top: -0.5em;
	}
}
