.technologies {
  padding: 5rem 0 0 0;
  background-color: #f8f8fc;
}

.technologies .panel_title_large {
  color: #283177;
}

.technologies .panel_icons .panel_icons_inner_wrapper .panel_icon_wrapper {
  opacity: 0;
  -webkit-transform: translate3d(0, 10rem, 0);
          transform: translate3d(0, 10rem, 0);
  -webkit-animation: panel_icon_animation 325ms ease-out;
          animation: panel_icon_animation 325ms ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.technologies .panel_icons .panel_icons_inner_wrapper .panel_icons_inner_top_wrapper .panel_icon_wrapper:nth-child(2) {
  -webkit-animation-delay: 0.125s;
          animation-delay: 0.125s;
}

.technologies .panel_icons .panel_icons_inner_wrapper .panel_icons_inner_top_wrapper .panel_icon_wrapper:nth-child(3) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.technologies .panel_icons .panel_icons_inner_wrapper .panel_icons_inner_middle_wrapper .panel_icon_wrapper:nth-child(1) {
  -webkit-animation-delay: 0.375s;
          animation-delay: 0.375s;
}

.technologies .panel_icons .panel_icons_inner_wrapper .panel_icons_inner_middle_wrapper .panel_icon_wrapper:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.technologies .panel_icons .panel_icons_inner_wrapper .panel_icons_inner_bottom_wrapper .panel_icon_wrapper:nth-child(1) {
  -webkit-animation-delay: 0.625s;
          animation-delay: 0.625s;
}

.technologies .panel_icons .panel_icons_inner_wrapper .panel_icons_inner_bottom_wrapper .panel_icon_wrapper:nth-child(2) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.technologies .panel_icons .panel_icons_inner_wrapper .panel_icons_inner_bottom_wrapper .panel_icon_wrapper:nth-child(3) {
  -webkit-animation-delay: 0.875s;
          animation-delay: 0.875s;
}

@-webkit-keyframes panel_icon_animation {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes panel_icon_animation {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.html5_icon .panel_hexagon_background {
  background: -webkit-gradient(linear, left top, right bottom, from(#e75e3c), to(#e3441c));
  background: linear-gradient(to bottom right, #e75e3c, #e3441c);
}

.css3_icon .panel_hexagon_background {
  background: -webkit-gradient(linear, left top, right bottom, from(#195af0), to(#0e4ee1));
  background: linear-gradient(to bottom right, #195af0, #0e4ee1);
}

.js_icon .panel_hexagon_background {
  background: -webkit-gradient(linear, left top, right bottom, from(#ecd227), to(#ebce14));
  background: linear-gradient(to bottom right, #ecd227, #ebce14);
}

.sass_icon .panel_hexagon_background {
  background: -webkit-gradient(linear, left top, right bottom, from(#c34b85), to(#bb3e7b));
  background: linear-gradient(to bottom right, #c34b85, #bb3e7b);
}

.bootstrap_icon .panel_hexagon_background {
  background: -webkit-gradient(linear, left top, right bottom, from(#8465b3), to(#7754ab));
  background: linear-gradient(to bottom right, #8465b3, #7754ab);
}

.wordpress_icon .panel_hexagon_background {
  background: -webkit-gradient(linear, left top, right bottom, from(#0095c7), to(#0078a1));
  background: linear-gradient(to bottom right, #0095c7, #0078a1);
}

.php_icon .panel_hexagon_background {
  background: -webkit-gradient(linear, left top, right bottom, from(#5b5ea4), to(#55599b));
  background: linear-gradient(to bottom right, #5b5ea4, #55599b);
}

.sql_icon .panel_hexagon_background {
  background: -webkit-gradient(linear, left top, right bottom, from(#f3951a), to(#e7880c));
  background: linear-gradient(to bottom right, #f3951a, #e7880c);
}

@media (max-width: 575.98px) {
  .technologies {
    padding: 4rem 0 0 0;
  }
}

@media (max-width: 485.98px) {
  .panel_icons {
    height: 23rem !important;
  }
  .panel_icons .panel_icons_inner_wrapper {
    width: 23rem;
  }
  .panel_icons .panel_icons_inner_wrapper .panel_icons_inner_middle_wrapper {
    top: -3.825rem;
  }
  .panel_icons .panel_icons_inner_wrapper .panel_icons_inner_bottom_wrapper {
    top: -7.65rem;
  }
  .panel_icons .panel_icons_inner_wrapper .panel_icon_wrapper {
    margin: 0 0.325rem;
  }
  .panel_icons .panel_icons_inner_wrapper .panel_icon_wrapper .panel_icon .panel_hexagon {
    width: 7rem;
    height: 10rem;
  }
  .panel_icons .panel_icons_inner_wrapper .panel_icon_wrapper .panel_icon i {
    font-size: 4.5rem;
  }
}

@media (max-width: 370.98px) {
  .panel_icons {
    height: 19rem !important;
  }
  .panel_icons .panel_icons_inner_wrapper {
    width: 19rem;
  }
  .panel_icons .panel_icons_inner_wrapper .panel_icons_inner_middle_wrapper {
    width: 14rem;
    top: -3.05rem;
  }
  .panel_icons .panel_icons_inner_wrapper .panel_icons_inner_bottom_wrapper {
    top: -6.1rem;
  }
  .panel_icons .panel_icons_inner_wrapper .panel_icon_wrapper .panel_icon .panel_hexagon {
    width: 5.5rem;
    height: 7.85rem;
  }
  .panel_icons .panel_icons_inner_wrapper .panel_icon_wrapper .panel_icon .panel_hexagon .panel_hexagon_overlay .panel_hexagon_overlay_text {
    font-size: 0.95rem;
  }
  .panel_icons .panel_icons_inner_wrapper .panel_icon_wrapper .panel_icon i {
    font-size: 3.5rem;
  }
}

@media (max-width: 310.98px) {
  .panel_icons {
    width: 100%;
    height: auto !important;
  }
  .panel_icons .panel_icons_inner_wrapper {
    width: 100%;
  }
  .panel_icons .panel_icons_inner_wrapper .panel_icons_inner_middle_wrapper {
    width: 100%;
    top: 0;
  }
  .panel_icons .panel_icons_inner_wrapper .panel_icons_inner_bottom_wrapper {
    top: 0;
  }
  .panel_icons .panel_icons_inner_wrapper .panel_icon_wrapper {
    margin: -1rem 0.5rem;
  }
}
