.technologies {
  position: relative;
  text-align: center;
}

.technologies .container {
  overflow: hidden;
}

.technologies .technologies_icons {
  margin: 1.25rem 0;
  display: inline-block;
  position: relative;
}

.technologies .technologies_icons .technologies_icons_inner_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.technologies .technologies_icons .technologies_icons_inner_wrapper .technologies_icon {
  width: 5.75rem;
  padding: 0 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technologies .technologies_icons .technologies_icons_inner_wrapper .technologies_icon i {
  margin: 0 0 0.5rem 0;
  font-size: 4rem;
  line-height: 4.5rem;
}

.technologies .technologies_icons .technologies_icons_inner_wrapper .technologies_icon span {
  display: inline-block;
  color: #727272;
  font-size: 0.85rem;
  line-height: 1.25rem;
}

.technologies .technologies_icons .html5_icon {
  color: #e3441c;
}

.technologies .technologies_icons .css3_icon {
  color: #0e4ee1;
}

.technologies .technologies_icons .js_icon {
  color: #ebce14;
}

.technologies .technologies_icons .sass_icon {
  color: #bb3e7b;
}

.technologies .technologies_icons .bootstrap_icon {
  color: #7754ab;
}

.technologies .technologies_icons .wordpress_icon {
  color: #0078a1;
}

.technologies .technologies_icons .php_icon {
  color: #55599b;
}

.technologies .technologies_icons .sql_icon {
  color: #e7880c;
}

.technologies .technologies_icons_nav {
  max-width: 540px;
  width: 100%;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 2rem;
  right: 50%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.technologies .technologies_icons_nav .technologies_icons_nav_scroll i {
  color: #212121;
}

.technologies .technologies_icons_nav .technologies_icons_nav_scroll:hover {
  cursor: default;
}

.technologies .technologies_icons_nav div {
  height: 2rem;
  padding: 0 0.35rem;
}

.technologies .technologies_icons_nav div i {
  color: rgba(33, 33, 33, 0.25);
  font-size: 0.95rem;
  line-height: 2rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.technologies .technologies_icons_nav div:hover {
  cursor: pointer;
}

@media (min-width: 767.98px) {
  .technologies .technologies_icons .technologies_icons_inner_wrapper {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
            transform: none;
  }
  .technologies .technologies_icons_nav {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .technologies .technologies_icons_nav {
    max-width: 100%;
    padding: 0 1.25rem;
  }
}
