
#top_nav_wrapper {
	width: 100%;
	height: 100%;
	min-height: 900px;
	position: relative;
	overflow: hidden;
	
	background: #01579B;
}

#top_nav_cube_wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

#top_nav_title {
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	
	text-align: center;
	
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#top_nav_title h1 {
	padding: 0px 15px;
	
	font-size: calc(48px + 1vw);
	text-shadow: 2px 2px #001d33;
}

#top_nav_title p {
	margin-top: 35px;
	
	font-size: calc(24px + 0.7vw);
	text-shadow: 2px 2px #001d33;
}

#top_nav_title b {
	font-size: calc(48px + 2vw);
}

#top_nav_title h1, #top_nav_title b, #top_nav_title p {
	font-weight: normal;
	font-family: "Kaushan Script", cursive;
	color: #FAFAFA;
}

#top_nav_title_line {
	width: 100%;
	height: auto;
	margin-top: -25px;
}

#top_nav_title_line span {
	height: 25px;
	display: block;
	
	border-bottom: 5px solid #FAFAFA;
	
	-webkit-border-radius: 0% 0% 50% 50%;
	-moz-border-radius: 0% 0% 50% 50%;
	border-radius: 0% 0% 50% 50%;
	
	-webkit-box-shadow: 0px 4px 2px -2px #001d33;
	-moz-box-shadow: 0px 4px 2px -2px #001d33;
	box-shadow: 0px 4px 2px -2px #001d33;
	
}

#top_nav_bottom {
	width: auto;
	height: auto;
	margin: 0px auto;
	position: absolute;
	bottom: 0%;
	left: 50%;

	text-align: center;

	-webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
}

#top_nav_bottom p {
	font-family: "Kaushan Script", cursive;
	color: #FAFAFA;
	font-size: calc(18px + 1vw);
	text-shadow: 2px 2px #001d33;
}

#top_nav_bottom i {
	width: auto;
	height: 75px;
	display: block;
	
	color: #FAFAFA;
	font-size: calc(48px + 1vw);
	text-shadow: 2px 2px #001d33;
	line-height: 40px;
	
	-webkit-animation: bounce 1.5s linear infinite;
	-moz-animation: bounce 1.5s linear infinite;
	-o-animation: bounce 1.5s linear infinite;
	animation: bounce 1.5s linear infinite;
}

@-webkit-keyframes bounce {
	0%, 100% {
		line-height: 40px;
	}
	50% {
		line-height: 70px;
	}
}

@-moz-keyframes bounce {
	0%, 100% {
		line-height: 40px;
	}
	50% {
		line-height: 70px;
	}
}

@-o-keyframes bounce {
	0%, 100% {
		line-height: 40px;
	}
	50% {
		line-height: 70px;
	}
}

@keyframes bounce {
	0%, 100% {
		line-height: 40px;
	}
	50% {
		line-height: 70px;
	}
}


