
#news_wrapper {
	width: 100%;
	min-height: 950px;
	position: relative;
	
	background: url(../Images/news_background.jpg); 
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#news_background_cover {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	
	background: rgba(19, 19, 19, 0.6);
}

#news_title {
	width: 100%;
	height: 150px;
	position: absolute;
	top: 0;
	left: 10%;
	
	line-height: 150px;
}

#news_title h1 {
	text-align: left;
	color: #FFFFFF;
	font-size: calc(24px + 1.5vw);
	font-weight: normal;
	text-shadow: 1px 1px 0px #131313;
}

#news_slider {
	height: 550px;
	position: absolute;
	top: 150px;
	left: 0;
	right: 0;
	margin: 0 auto;
	
	background: rgba(19, 19, 19, 0.8);
	
	-webkit-box-shadow: 1px 1px 3px #0d0d0d;
	-moz-box-shadow: 1px 1px 3px #0d0d0d;
	box-shadow: 1px 1px 3px #0d0d0d;
}

#slider_btn_left {
	width: 75px;
	height: 100%;
	float: left;
	
	text-align: center;
}

#slider_btn_right {
	width: 75px;
	height: 100%;
	float: right;
	
	text-align: center;
}

#slider_btn_left i, #slider_btn_right i {
	line-height: 550px;
	color: #FAFAFA;
	/*font-weight: normal;*/
	font-size: 32px;
}

#slider_btn_left:hover, #slider_btn_right:hover {
	cursor: pointer;
	background: rgba(19, 19, 19, 0.6);
	
	-webkit-transition: background 125ms ease-in;
    -moz-transition: background 125ms ease-in;
    -o-transition: background 125ms ease-in;
    -ms-transition: background 125ms ease-in;
    transition: background 125ms ease-in;
}

#news_slider_news {
	width: 1130px;
	height: 470px;
	margin-left: 75px;
	
	text-align: center;
}

#news_inner_wrapper {
	width: 1000px;
	height: 400px;
	display: inline-block;
	margin: 35px 0px 0px 0px;
	position: relative;
	overflow: hidden;
}

#news_l {
	width: 300%;
	height: 100%;
	position: absolute;
	left: 0;
	
	-webkit-transition: left 325ms ease-out	;
    -moz-transition: left 325ms ease-out;
    -o-transition: left 325ms ease-out;
    -ms-transition: left 325ms ease-out;
    transition: left 325ms ease-out;
}

#news_l div {
	position: relative;
	float: left;
	
	-webkit-transition: all 150ms linear	;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}

#news_l h2 {
	width: 100%;
	height: auto;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px 20px;
	
	color: #FAFAFA;
	font-weight: normal;
	text-align: left;
	text-shadow: 1px 1px 0px #131313;
	
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

.news_s {
	margin: 5px 5px;
	
	-webkit-box-shadow: 1px 1px 3px #0d0d0d;
	-moz-box-shadow: 1px 1px 3px #0d0d0d;
	box-shadow: 1px 1px 3px #0d0d0d;
}

.news_s:hover {
	cursor: pointer;
}

.news_s:hover div {
	-webkit-box-shadow: 0px 0px 75px #0d0d0d inset;
	-moz-box-shadow: 0px 0px 75px #0d0d0d inset;
	box-shadow: 0px 0px 75px #0d0d0d inset;
}

.news_l_big {
	width: 640px;
	height: 390px;

	font-size: 24px;
}

.news_l_medium_w {
	width: 350px;
	height: 400px;
}

.news_l_medium {
	width: 340px;
	height: 190px;
	
	font-size: 15px;
}

#news_slider_bubbles {
	width: 1130px;
	height: 80px;
	margin-left: 75px;
	position: relative;
	
	text-align: center;
	line-height: 40px;
}

#news_page {
	width: auto;
	height: auto;
	display: inline-block;
	float: left;
	margin-left: 70px;
}

#news_archive {
	width: auto;
	height: auto;
	display: inline-block;
	float: right;
	margin-right: 70px;
}

#news_slider_bubbles p, #news_slider_bubbles a {
	color: #FAFAFA;
	font-size: 18px;
	line-height: 38px;
}

#news_slider_bubbles a {
	text-decoration: none;
}

#news_slider_bubbles a:hover {
	text-decoration: underline;
}

#news_slider_bubbles p b {
	font-weight: normal;
	color: #FAFAFA;
}

#news_slider_bubbles span {
	width: 14px;
	height: 14px;
	display: inline-block;
	margin: 0px 4px;
	
	border: 1px solid #FAFAFA;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

#news_slider_bubbles span span {
	width: 10px;
	height: 10px;
	display: block;
	margin: 2px 0px 0px 2px;
	
	background: transparent;
	
	border: none;
}

#news_slider_bubbles span:hover {
	cursor: pointer;
}

#news_slider_bubbles span:hover span {
	background: #FAFAFA !important;
	
	-webkit-transition: background 125ms ease-in;
    -moz-transition: background 125ms ease-in;
    -o-transition: background 125ms ease-in;
    -ms-transition: background 125ms ease-in;
    transition: background 125ms ease-in;
}

#countdown_timer_wrapper {
	height: 80px;
	position: absolute;
	top: 760px;
	left: 0;
	right: 0;
	margin: 0 auto;
	
	background: rgba(19, 19, 19, 0.8);
	text-align: center;
	
	-webkit-box-shadow: 1px 1px 3px #0d0d0d;
	-moz-box-shadow: 1px 1px 3px #0d0d0d;
	box-shadow: 1px 1px 3px #0d0d0d;
}

#countdown_timer_wrapper img {
	width: 100px;
	height: 100px;
	display: block;
	position: absolute;
}

#decoration_left {
	top: 15px;
	left: -30px;
	
	-webkit-transition: scaleX(-1);
    -moz-transition: scaleX(-1);
    -o-transition: scaleX(-1);
    -ms-transition: scaleX(-1);
	transform: scaleX(-1);
}

#decoration_right {
	top: 15px;
	right: -30px;
}

#countdown_timer_wrapper * {
	color: #FAFAFA;
	font-size: 24px;
	line-height: 80px;
	text-shadow: 1px 1px 0px #131313;
}

#countdown_timer_wrapper span {
	color: #FFAB91;
	text-shadow: 0px 0px 25px #FFAB91;
}

#countdown_timer_wrapper span b {
	font-weight: normal;
}

#countdown_timer_wrapper p {
	width: 100%;
	height: auto;
	display: block;
	position: absolute;
	top: 60px;
	
	text-align: center;
	font-size: 21px;
	color: #FFAB91;
	text-shadow: 1px 1px 0px #330c00;
}

#timer_inactive {
	display: none;
}

@media only screen and (max-width: 1296px) {
	#news_wrapper {
		height: auto;
		
		background: #424242;
	}
	
	#news_title {
		position: relative;
	}
	
	#slider_btn_left {
		display: none;
	}

	#slider_btn_right {
		display: none;
	}
	
	#news_slider_bubbles {
		display: none;
	}
	
	#news_slider_news {
		width: 100%;
		height: auto;
		margin: 0;
	}
	
	#news_inner_wrapper {
		width: 100%;
		height: auto;
	}
	
	#news_slider {
		width: 100%;
		height: auto;
		position: relative;
		top: 0px;
		
		background: transparent;
		
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	#news_l {
		width: 1000px;
		height: auto;
		position: relative;
		display: inline-block;
	}
	
	.news_l_big {
		width: 630px;
		height: 390px;

		font-size: 24px;
	}

	.news_l_medium_w {
		width: 350px;
		height: 400px;
	}

	.news_l_medium {
		width: 340px;
		height: 190px;

		font-size: 15px;
	}

	#countdown_timer_wrapper {
		height: auto;
		padding: 20px 20px;
		position: relative;
		margin-top: 30px;
		top: 0px;
		
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box; 
	}
	
	#countdown_timer_wrapper * {
		font-size: calc(18px + 0.5vw);
		line-height: 30px;
	}
	
	#countdown_timer_wrapper p {
		position: relative;
		margin-top: 20px;
		top: 0px;
		
		font-size: calc(16px + 0.5vw);
	}
	
	#countdown_timer_wrapper img {
		display: none;
	}
}

@media only screen and (max-width: 1016px) {
	#news_l {
		width: 650px;
		height: auto;
		position: relative;
		display: inline-block;
	}

	.news_l_big {
		width: 640px;
		height: 390px;

		font-size: 24px;
	}

	.news_l_medium_w {
		width: auto;
		height: auto;
	}

	.news_l_medium {
		width: 315px;
		height: 190px;

		font-size: 15px;
	}
}

@media only screen and (max-width: 666px) {
	#news_l {
		width: 450px;
		height: auto;
		position: relative;
		display: inline-block;
	}

	.news_l_big {
		width: 440px;
		height: 270px;

		font-size: 24px;
	}

	.news_l_medium {
		width: 215px;
		height: 140px;

		font-size: 15px;
	}
}

@media only screen and (max-width: 466px) {
	#news_l {
		width: 290px;
		height: auto;
		position: relative;
		display: inline-block;
	}

	.news_l_big {
		width: 280px;
		height: 175px;

		font-size: 16px;
	}

	.news_l_medium {
		width: 280px;
		height: 175px;

		font-size: 16px;
	}
}

