
#price_list_wrapper {
	width: 100%;
	min-height: 800px;
	margin-top: 50px;
	position: relative;
	
	background: url(../Images/price_list_background.jpg); 
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#price_list_background_cover {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	
	background: rgba(19, 19, 19, 0.4);
}

#price_list_title {
	width: 100%;
	height: 200px;
	position: absolute;
	top: 0;
	left: 10%;
	
	line-height: 200px;
}

#price_list_title h1 {
	text-align: left;
	color: #FFFFFF;
	font-size: calc(24px + 1.5vw);
	font-weight: normal;
	text-shadow: 1px 1px 0px #131313;
}

#price_list_table_wrapper {
	width: 100%;
	height: auto;
	position: absolute;
	top: 200px;
	left: 50%;
	
	text-align: center;
	
	transform: translate(-50%, 0);
}

#price_list_table {
	max-height: 75px;
	overflow: hidden;
	
	-webkit-transition: max-height 1s linear;
    -moz-transition: max-height 1s linear;
    -o-transition: max-height 1s linear;
    -ms-transition: max-height 1s linear;
    transition: max-height 1s linear;
}

#price_list_table_wrapper table {
	width: 100%;
	height: auto;
	display: table;
	margin: 0px auto;
	overflow: auto;

	border-spacing: 0px;
	border: 1px solid #3c332a;
	
	-webkit-box-shadow: 1px 1px 5px #1a1a1a;
	-moz-box-shadow: 1px 1px 5px #1a1a1a;
	box-shadow: 1px 1px 5px #1a1a1a;
}

#price_list_table_wrapper table * {
	padding: 10px 5px;
	
	text-align: center;
	color: #FAFAFA;
	font-weight: normal;
	text-shadow: 1px 1px #2d261f;
	font-size: calc(12px + 0.3vw);
	
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

#price_list_table_wrapper th {
	background: #5a4c3f;
}

#price_list_table_wrapper tr {
	width: auto;
	height: 75px;
	
	background: #87715e;
}

#price_list_table_wrapper tr:nth-child(even) {
	background: #786554;
}

#price_list_table_wrapper span {
	display: inline-block;
	margin-top: 20px;

	color: #FAFAFA;
	text-shadow: 1px 1px #131313;
	font-size: calc(12px + 0.3vw);
}




