
#top_header_wrapper {
	width: 100%;
	height: 100%;
	max-height: 1080px;
	min-height: 500px;
	position: relative;
	overflow: hidden;
	
	background: url(../Images/header_background.jpg); 
	background-repeat: no-repeat;
	background-position: top center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.logo {
	width: auto;
	height: 100%;
	float: left;
	padding: 12px 12px;
	
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

.logo:hover {
	cursor: pointer;
	
	-webkit-filter: brightness(125%);
	-moz-filter: brightness(125%);
	-ms-filter: brightness(125%);
	-o-filter: brightness(125%);
	filter: brightness(125%);
}

#top_header_video {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	
	-webkit-filter: translate(-50%, -50%);
	-moz-filter: translate(-50%, -50%);
	-ms-filter: translate(-50%, -50%);
	-o-filter: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
	-webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}

#top_header_text {
	width: auto;
	height: auto;
	position: absolute;
	left: -100%;
	bottom: 35%;
	
	-webkit-transition: left 375ms ease-out;
    -moz-transition: left 375ms ease-out;
    -o-transition: left 375ms ease-out;
    -ms-transition: left 375ms ease-out;
    transition: left 375ms ease-out;
}

#top_header_text h1, #top_header_text h2 {
	text-align: left;
	color: #FAFAFA;
	font-size: calc(24px + 1.5vw);
	font-weight: normal;
	text-shadow: 1px 1px 0px #131313;
}

#top_header_text h2 {
	margin-top: 10px;
	font-size: calc(16px + 0.5vw);
}

#top_header_media {
	width: auto;
	height: auto;
	position: absolute;
	right: 10%;
	top: 50%;
	
	-webkit-filter: translateY(-50%);
	-moz-filter: translateY(-50%);
	-ms-filter: translateY(-50%);
	-o-filter: translateY(-50%);
    transform: translateY(-50%);
}

#top_header_media span {
	width: 3vw;
	height: 3vw;
	margin: 20px 0px;
	margin-left: 500%;
	padding: 0px 20px;
	display: block;
	overflow: hidden;
	
	text-align: center;
}

#top_media_f {
	-webkit-transition: margin-left 675ms ease-out;
    -moz-transition: margin-left 675ms ease-out;
    -o-transition: margin-left 675ms ease-out;
    -ms-transition: margin-left 675ms ease-out;
    transition: margin-left 675ms ease-out;
}

#top_media_t {
	-webkit-transition: margin-left 575ms ease-out;
    -moz-transition: margin-left 575ms ease-out;
    -o-transition: margin-left 575ms ease-out;
    -ms-transition: margin-left 575ms ease-out;
    transition: margin-left 575ms ease-out;
}

#top_media_i {
	-webkit-transition: margin-left 475ms ease-out;
    -moz-transition: margin-left 475ms ease-out;
    -o-transition: margin-left 475ms ease-out;
    -ms-transition: margin-left 475ms ease-out;
    transition: margin-left 475ms ease-out;
}

#top_media_v {
	-webkit-transition: margin-left 375ms ease-out;
    -moz-transition: margin-left 375ms ease-out;
    -o-transition: margin-left 375ms ease-out;
    -ms-transition: margin-left 375ms ease-out;
    transition: margin-left 375ms ease-out;
}

#top_media_y {
	-webkit-transition: margin-left 275ms ease-out;
    -moz-transition: margin-left 275ms ease-out;
    -o-transition: margin-left 275ms ease-out;
    -ms-transition: margin-left 275ms ease-out;
    transition: margin-left 275ms ease-out;
}

#top_header_media span span {
	width: auto;
	height: auto;
	max-width: 0;
	margin: 0;
	padding: 0;
	margin-left: -20px;
	position: absolute;
	z-index: -1;
	
	background: yellow;
	
	-webkit-box-shadow: 1px 1px 3px #404040;
	-moz-box-shadow: 1px 1px 3px #404040;
	box-shadow: 1px 1px 3px #404040;
	
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

#top_header_media span i {	
	display: inline-block;
	float: left;
	
	line-height: 3vw;
	color: #FAFAFA;
	font-size: calc(18px + 0.5vw);
	text-shadow: 1px 1px 0px #131313;
}

#top_header_media span span p {
	display: inline-block;
	margin-left: 3vw;
	padding: 0px 20px 0px 10px;
	float: left;
	
	line-height: 3vw;
	color: #FAFAFA;
	font-size: calc(12px + 0.5vw);

	white-space: nowrap;
}

#top_header_media span:hover {
	cursor: pointer;
}

#top_header_media span:hover i {
	text-shadow: none;
}

#top_header_media span:hover span {
	max-width: 200%;
	
	-webkit-transition: max-width 275ms ease-out;
    -moz-transition: max-width 275ms ease-out;
    -o-transition: max-width 275ms ease-out;
    -ms-transition: max-width 275ms ease-out;
    transition: max-width 275ms ease-out;
}

#top_nav_wrapper ::-webkit-input-placeholder {
    color: #757575;
}

#top_nav_wrapper ::-moz-placeholder {
    color: #757575;
}

#top_nav_wrapper ::-ms-placeholder {
    color: #757575;
}

#top_nav_wrapper ::placeholder {
    color: #757575;
}

#top_nav_wrapper {
	width: 1280px;
	height: 75px;
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1;
	
	background: #b5a494;
	line-height: 75px;
	
	-webkit-box-shadow: 0px 1px 5px #404040;
	-moz-box-shadow: 0px 1px 5px #404040;
	box-shadow: 0px 1px 5px #404040;
	
	-webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}

#top_nav_wrapper * {
	color: #1a1a1a;
	text-align: center;
}

#top_nav_l_wrapper {
	width: auto;
	height: 100%;
	float: left;
}

#top_nav_l_wrapper ul {
	width: auto;
	height: 100%;
	display: block;
	float: left;
	list-style: none;
}

#top_nav_l_wrapper li {
	width: auto;
	height: 100%;
	display: block;
	padding: 0px 15px;
	float: left;
	
	line-height: inherit;
	
	text-align: center;
}

#top_nav_r_wrapper {
	width: auto;
	height: 100%;
	float: right;
}

#top_nav_search_button {
	width: auto;
	height: 100%;
	display: inline-block;
	float: right;
}

#top_nav_search_button i {
	font-size: 18px;
}

#top_nav_search_button:hover {
	cursor: pointer;
	background: #f05e5c !important;
	
	-webkit-transition: all 125ms ease-in;
    -moz-transition: all 125ms ease-in;
    -o-transition: all 125ms ease-in;
    -ms-transition: all 125ms ease-in;
    transition: all 125ms ease-in;
}

#top_nav_search_button:hover i {
	color: #FAFAFA !important;
}

#top_nav_search_wrapper {
	width: 100%;
	height: auto;
	display: none;
	float: left;
	
	background: #87725e;
	
	-webkit-box-shadow: 0px 1px 1px #404040;
	-moz-box-shadow: 0px 1px 1px #404040;
	box-shadow: 0px 1px 1px #404040;
}

#top_nav_search_wrapper input {
	width: 80%;
	height: 40px;
	margin: 30px 0px;
	padding: 0px 15px;
	
	text-align: left;
	color: #1a1a1a;
	font-size: calc(12px + 0.3vw);
	
	border: 1px solid #786754;
	
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

#top_nav_search_resources {
	width: 80%;
	height: 200px;
	display: table;
	margin: 0px auto;
}

#top_nav_search_resources span {
	width: auto;
	height: auto;
	display: table-cell;
	padding: 0px 20px 20px 20px;
	
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

#top_nav_search_resources span span {
	width: 100%;
	height: 100%;
	padding: 0;
	display: block;
	
	border-right: 2px solid #786754;
}

#top_nav_search_resources span p {
	width: 100%;
	height: 30px;
	margin-bottom: 15px;
	display: block;
	
	font-size: calc(21px + 0.1vw);
	text-align: left;
	line-height: 30px;
}

#top_nav_search_resources span a {
	width: 100%;
	height: 35px;
	display: block;
	
	font-size: calc(14px + 0.1vw);
	text-align: left;
	line-height: 35px;
	text-decoration: none;
}

#top_nav_search_resources span a:hover {
	text-decoration: underline;
}

#top_nav_lang_wrapper {
	width: auto;
	height: 100%;
	padding: 0px 15px;
	float: right;
	
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

#top_nav_lang_wrapper span {
	display: inline;
	
	font-size: 16px;
}

#top_nav_lang_wrapper span:hover {
	cursor: pointer;
	color: #FAFAFA;
	
	-webkit-transition: color 75ms ease-in;
    -moz-transition: color 75ms ease-in;
    -o-transition: color 75ms ease-in;
    -ms-transition: color 75ms ease-in;
    transition: color 75ms ease-in;
}


.top_nav_side_button {
	width: 50px;
	height: 100%;
	display: none;
	float: left;
}

#top_nav_l_wrapper li:hover {
	cursor: pointer;
	color: #FAFAFA;
	background: #87725e;
	
	-webkit-transition: all 125ms ease-in;
    -moz-transition: all 125ms ease-in;
    -o-transition: all 125ms ease-in;
    -ms-transition: all 125ms ease-in;
    transition: all 125ms ease-in;
}

.top_nav_side_button i {
	font-size: 21px;
	line-height: 50px;
}

.top_nav_side_button:hover {
	cursor: pointer;
	background: #87725e !important;
	
	-webkit-transition: all 125ms ease-in;
    -moz-transition: all 125ms ease-in;
    -o-transition: all 125ms ease-in;
    -ms-transition: all 125ms ease-in;
    transition: all 125ms ease-in;
}

.top_nav_side_button:hover i {
	color: #FAFAFA !important;
}

#top_nav_side_cover {
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	top: 0;
	right: 0;
	z-index: 2;
	
	background: rgba(19, 19, 19, 0.7);
}

#top_nav_side_cover:hover {
	cursor: pointer;
}

#top_nav_side_wrapper {
	width: 80%;
	height: 100%;
	max-width: 350px;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	
	background: #a18c78;
	
	-webkit-box-shadow: 1px 0px 5px #404040;
	-moz-box-shadow: 1px 0px 5px #404040;
	box-shadow: 1px 0px 5px #404040;
}

#top_nav_side_top {
	width: 100%;
	height: 50px;
	overflow: hidden;
	
	border-bottom: 1px solid #ab9887;
}

#top_nav_side_top span i {
	line-height: 50px;
}

#top_nav_side_wrapper * {
	color: #1a1a1a;
	text-align: center;
}

#top_nav_side_wrapper ul {
	width: 100%;
	height: auto;
	list-style: none;
	clear: both;
}

#top_nav_side_wrapper li {
	width: 100%;
	height: 50px;
	
	line-height: 50px;
	font-size: 16px;
	
	white-space: nowrap;
}

#top_nav_side_wrapper li span {
	width: 0%;
	height: 100%;
	margin-top: -50px;
	display: block;
	
	background: #87725e;
}

#top_nav_side_wrapper li:hover {
	cursor: pointer;
	color: #FAFAFA;
	
	-webkit-transition: color 125ms ease-in;
    -moz-transition: color 125ms ease-in;
    -o-transition: color 125ms ease-in;
    -ms-transition: color 125ms ease-in;
    transition: color 125ms ease-in;
}

#top_nav_side_wrapper li:hover span {
	width: 100%;
	
	-webkit-transition: width 250ms ease-out;
    -moz-transition: width 250ms ease-out;
    -o-transition: width 250ms ease-out;
    -ms-transition: width 250ms ease-out;
    transition: width 250ms ease-out;
}

@media screen and (max-width: 1296px) {
	/*#top_header_wrapper {
		height: auto;
	}*/
	
	#top_header_video {
		display: none;
	}
	
	#top_header_media {
		display: none;
	}
	
	#top_nav_wrapper {
		width: 100%;
		height: 50px;
		display: block;
		position: fixed;
		top: 0;
		
		line-height: 50px;
	}
	
	#top_nav_search_button {
		width: 50px;
	}
	
	#top_nav_l_wrapper ul {
		display: none;
	}
	
	.top_nav_side_button {
		display: block;
	}
}

@media screen and (max-width: 916px) {
	#top_nav_search_resources span {
		width: 50%;
		float: left;
	}
	
	#top_nav_search_resources span span {
		border: none;
	}
}

@media screen and (max-width: 566px) {
	#top_nav_search_resources span {
		width: 100%;
		padding: 0px 0px 20px 0px;
	}
}
