.blog {
  padding: 4rem 0;
  background-color: #f8faff;
  text-align: center;
}

.blog .blog_title {
  margin: 0 0 1.5rem 0;
}

.blog .blog_text {
  margin: 0 0 4rem 0;
  font-size: 1.05rem;
}

.blog .blog_post {
  text-align: left;
}

.blog .blog_post img {
  width: 100%;
  margin: 0 0 0.75rem 0;
  display: inline-block;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.blog .blog_post .blog_post_title {
  margin: 0 0 0.75rem 0;
  color: #292c43;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.blog .blog_post .blog_post_date {
  width: 100%;
  display: inline-block;
  color: #707478;
  font-size: 0.9rem;
}

.blog .blog_post .blog_post_date i {
  margin: 0 0.5rem 0 0;
}

.blog .blog_button {
  height: 2.75rem;
  margin: 4rem 0 0 0;
  padding: 0 1.25rem;
  display: inline-block;
  color: #292c43;
  font-size: 0.75rem;
  line-height: 2.75rem;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #292c43;
  border-radius: 2rem;
  -webkit-transition: background-color 0.3s linear, color 75ms linear;
  transition: background-color 0.3s linear, color 75ms linear;
}

.blog .blog_button i {
  margin: 0 0 0 0.5rem;
  color: white;
  font-size: 1rem;
}

.blog .blog_button:hover {
  cursor: pointer;
  background-color: #1c1d2e;
  color: white;
}

@media (max-width: 1399.98px) {
  .blog .blog_text {
    margin: 0 0 3rem 0;
    font-size: 1rem;
  }
  .blog .blog_post .blog_post_title {
    font-size: 1.15rem;
  }
  .blog .blog_post .blog_post_date {
    font-size: 0.85rem;
  }
  .blog .blog_button {
    margin: 3rem 0 0 0;
  }
}

@media (max-width: 991.98px) {
  .blog .col-md-12 {
    margin: 0 0 2rem 0;
  }
  .blog .col-md-12 .blog_post .blog_post_title {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .blog .blog_post .blog_post_title {
    font-size: 1.05rem;
  }
}
