.contact {
  padding: 4rem 0;
  position: relative;
  background-color: #F3F0EB;
}

.contact .row_sub .contact_map {
  padding: 0 15px 0 2.5rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.contact .row_sub .contact_form {
  padding: 0 2.5rem 0 15px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.contact .contact_map {
  padding-right: 2.5rem;
}

.contact .contact_map .google_map {
  width: 100%;
  height: 25rem;
  margin: 0 0 1.5rem 0;
  border: none;
  border-radius: 0.15rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0.25rem 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.05);
}

.contact .contact_map .contact_map_title {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.contact .contact_map p {
  margin: 0 0 0.5rem 0;
  font-size: 0.95rem;
  line-height: 1.5rem;
}

.contact .contact_map p i {
  margin: 0 0.75rem 0 0;
  color: #31b681;
  font-size: 1.15rem;
}

.contact .contact_form {
  padding-left: 2.5rem;
}

.contact .contact_form .wpforms-confirmation-container-full {
  width: 100%;
  margin: 1.5rem 0 0 0;
  padding: 0.75rem;
  background-color: rgba(49, 182, 129, 0.25);
  color: #262626;
  border: none;
  border-radius: 0.15rem;
}

.contact .contact_form .wpforms-form {
  margin: 2rem 0 0 0;
}

.contact .contact_form .wpforms-form div {
  max-width: 100% !important;
}

.contact .contact_form .wpforms-form .wpforms-field {
  padding: 0 0 0.75rem 0;
}

.contact .contact_form .wpforms-form label[class^="wpforms-field-label"] {
  margin: 0 0 0.5rem 0;
  font-size: 0.85rem;
}

.contact .contact_form .wpforms-form label[class^="wpforms-field-sublabel"] {
  margin: 0.5rem 0 0 0;
  font-size: 0.75rem;
}

.contact .contact_form .wpforms-form label[class^="wpforms-error"] {
  margin: 0.5rem 0 0 0;
  color: #d90619;
  font-size: 0.85rem;
}

.contact .contact_form .wpforms-form span[class^="wpforms-required-label"] {
  color: #d90619;
}

.contact .contact_form .wpforms-form input {
  max-width: 100% !important;
  -webkit-transition: border-color 125ms ease;
  transition: border-color 125ms ease;
}

.contact .contact_form .wpforms-form input[type=text], .contact .contact_form .wpforms-form input[type=email] {
  height: 2.75rem;
  padding: 0 0.5rem;
  background-color: #FAFAFA;
  color: #262626;
  font-size: 0.95rem;
  line-height: 2.75rem;
  border: none;
  border-bottom: 0.1rem solid transparent;
  border-radius: 0.15rem;
}

.contact .contact_form .wpforms-form input[class*=" wpforms-error"] {
  border: none !important;
  border-bottom: 0.1rem solid #d90619 !important;
}

.contact .contact_form .wpforms-form input:hover {
  border-color: rgba(49, 182, 129, 0.5);
}

.contact .contact_form .wpforms-form input:focus {
  border-color: #31b681;
}

.contact .contact_form .wpforms-form textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  min-height: 9rem;
  padding: 0.5rem;
  background-color: #FAFAFA;
  color: #262626;
  font-size: 0.95rem;
  line-height: 1.5rem;
  border: none;
  border-bottom: 0.1rem solid transparent;
  border-radius: 0.15rem;
  -webkit-transition: border-color 125ms ease;
  transition: border-color 125ms ease;
}

.contact .contact_form .wpforms-form textarea[class*=" wpforms-error"] {
  border: none !important;
  border-bottom: 0.1rem solid #d90619 !important;
}

.contact .contact_form .wpforms-form textarea:hover {
  border-color: rgba(49, 182, 129, 0.5);
}

.contact .contact_form .wpforms-form textarea:focus {
  border: none;
  border-bottom: 0.1rem solid #31b681;
}

.contact .contact_form .wpforms-form button[type=submit] {
  padding: 0.75rem 1rem;
  background-color: #d90619;
  color: #FAFAFA;
  font-size: 0.95rem;
  border: none;
  border-radius: 0.15rem;
  -webkit-transition: background-color 225ms ease;
  transition: background-color 225ms ease;
}

.contact .contact_form .wpforms-form button[type=submit] i {
  margin: 0 0 0 0.5rem;
}

.contact .contact_form .wpforms-form button[type=submit]::after {
  margin: 0 0 0 0.5rem;
  content: "\f1d8";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.contact .contact_form .wpforms-form button[type=submit]:hover, .contact .contact_form .wpforms-form button[type=submit]:focus {
  cursor: pointer;
  background-color: #ad0917;
  color: #FAFAFA;
  text-decoration: none;
  border: none;
}

@media (max-width: 991.98px) {
  .contact .row_sub .contact_form {
    margin: 0 0 4rem 0;
  }
  .contact .col-6 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  .contact .contact_map {
    padding: 0 15px !important;
  }
  .contact .contact_form {
    margin: 4rem 0 0 0;
    padding: 0 15px !important;
  }
}

@media (max-width: 767.98px) {
  .contact .row_sub .contact_form {
    margin: 0 0 3rem 0;
  }
  .contact .contact_form {
    margin: 3rem 0 0 0;
  }
}
