.footer {
  background-color: #262626;
}

.footer .footer_column {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  max-width: 50%;
  position: relative;
}

.footer .footer_column p {
  width: 100%;
  margin: 2.25rem 0 1.5rem 0;
  float: left;
  color: #f74597;
  font-size: 0.9rem;
}

.footer .footer_column .footer_page_links {
  display: inline-block;
  position: relative;
  left: -1.5rem;
}

.footer .footer_column .footer_page_links .footer_page_link {
  padding: 0.75rem 1.5rem;
  float: left;
  color: #FAFAFA;
  font-size: 0.9rem;
}

.footer .footer_column .footer_page_links .footer_page_link:hover {
  color: #f74597;
}

.footer .footer_column .footer_text {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.footer .footer_column .footer_text .footer_text_logo {
  display: inline-block;
  color: #FAFAFA;
  font-size: 1.05rem;
}

.footer .footer_column .footer_text .footer_text_logo span {
  margin: 0 1rem 0 0;
  position: relative;
  top: 0.1rem;
  font-family: "Great Vibes", cursive;
  color: #cc3473;
  font-size: 2.75rem;
}

.footer .footer_column .footer_text .footer_text_social_media {
  margin: 0 0 0 1.5rem;
  display: inline-block;
  position: relative;
  top: 0.45rem;
}

.footer .footer_column .footer_text .footer_text_social_media p {
  width: auto;
  margin: 0 1rem 0 1.5rem;
  float: left;
  color: #FAFAFA;
  font-size: 0.95rem;
}

.footer .footer_column .footer_text .footer_text_social_media a {
  padding: 0 0.75rem;
  position: relative;
  float: left;
  color: #cc3473;
}

.footer .footer_column .footer_text .footer_text_social_media a i {
  position: relative;
  top: -0.1rem;
  color: inherit;
  font-size: 1.25rem;
  -webkit-transition: top 225ms ease-out;
  transition: top 225ms ease-out;
}

.footer .footer_column .footer_text .footer_text_social_media a:hover i {
  top: -0.75rem;
}

@media (max-width: 1199.98px) {
  .footer .footer_links_column {
    -webkit-box-flex: 65%;
        -ms-flex: 65%;
            flex: 65%;
    max-width: 65%;
  }
  .footer .footer_text_column {
    -webkit-box-flex: 35%;
        -ms-flex: 35%;
            flex: 35%;
    max-width: 35%;
  }
  .footer .footer_column .footer_page_links {
    left: -1.25rem;
  }
  .footer .footer_column .footer_page_links .footer_page_link {
    padding: 0.75rem 1.25rem;
  }
  .footer .footer_column .footer_text {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    -webkit-transform: none;
            transform: none;
  }
  .footer .footer_column .footer_text .footer_text_social_media {
    width: 100%;
    margin: 1rem 0 0 0;
  }
  .footer .footer_column .footer_text .footer_text_social_media p {
    margin: 0 0.75rem 0 0;
  }
}

@media (max-width: 767.98px) {
  .footer .footer_column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  .footer .footer_column .footer_text {
    margin: 2.25rem 0 0 0;
  }
  .footer .footer_column .footer_text .footer_text_social_media p {
    margin: 0 0.75rem 1.25rem 0;
    float: none;
  }
  .footer .footer_column .footer_text .footer_text_social_media a {
    left: -0.75rem;
  }
  .footer .footer_column .footer_text .footer_text_social_media a:hover i {
    top: 0.75rem;
  }
}

@media (max-width: 575.98px) {
  .footer .footer_column .footer_page_links .footer_page_link {
    display: block;
    float: none;
    font-size: 1rem;
  }
  .footer .footer_column .footer_text .footer_text_social_media {
    margin: 1.25rem 0 0 0;
    display: block;
  }
}
/*# sourceMappingURL=footer.css.map */