.page_subpage_header .menu_page_header {
  background-image: url("../images/large/page_image_2.jpg");
}

.page_subpage_header .menu {
  padding: 4rem 0 0 0;
}

.page_subpage_header .menu .menu_items_wrapper .menu_items_name {
  margin: 1.5rem 0 7rem 1.25%;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.75rem;
}

.page_subpage_header .menu .menu_items_wrapper .menu_items_name::after {
  width: 3.25rem;
  height: 0.15rem;
  display: block;
  position: relative;
  top: 1.75rem;
  left: 50%;
  content: "";
  background-color: #cc3473;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page_subpage_header .menu .menu_items_wrapper .menu_items {
  margin: 0 0 4rem 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.menu {
  background-color: #f9e9e0;
}

.menu .menu_selections {
  height: 3rem;
  margin: 0.5rem 0 4rem 0;
  line-height: 3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu .menu_selections .menu_selection {
  height: 100%;
  padding: 0 1rem;
  float: left;
  background-color: inherit;
  font-size: 1.05rem;
  border-radius: 1rem;
  -webkit-transition: background-color 225ms ease-out, color 50ms ease-out;
  transition: background-color 225ms ease-out, color 50ms ease-out;
}

.menu .menu_selections .menu_selection:hover {
  cursor: pointer;
  color: #c50a49;
}

.menu .menu_selections .menu_selection_active {
  color: #c50a49;
  background-color: rgba(245, 212, 200, 0.7);
}

.menu .menu_items_wrapper .menu_items {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu .menu_items_wrapper .menu_items .menu_item {
  -webkit-box-flex: 22.5%;
      -ms-flex: 22.5%;
          flex: 22.5%;
  max-width: 22.5%;
  margin: 0 1.25% 2rem 1.25%;
  padding: 0 1rem 1.5rem 1rem;
  text-align: center;
  border-radius: 1rem;
}

.menu .menu_items_wrapper .menu_items .menu_item .page_gallery_image {
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 0.75rem rgba(38, 38, 38, 0.15);
          box-shadow: 0 0.5rem 0.75rem rgba(38, 38, 38, 0.15);
}

.menu .menu_items_wrapper .menu_items .menu_item .page_gallery_image .page_gallery_image_overlay span {
  font-size: 1.15rem;
}

.menu .menu_items_wrapper .menu_items .menu_item .page_gallery_image .menu_item_image {
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu .menu_items_wrapper .menu_items .menu_item .menu_item_name {
  padding: 1.75rem 0 0.75rem 0;
  color: #cc3473;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
}

.menu .menu_items_wrapper .menu_items .menu_item .menu_item_text {
  padding: 1rem 0 2.5rem 0;
}

.menu .menu_items_wrapper .menu_items .menu_item .menu_item_price {
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  line-height: 2.75rem;
}

.menu .menu_items_wrapper .menu_items_active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.menu .menu_items_wrapper .menu_items_active .menu_item {
  -webkit-animation: menu_item 525ms ease;
          animation: menu_item 525ms ease;
}

@-webkit-keyframes menu_item {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 15rem, 0) scale(0);
            transform: translate3d(0, 15rem, 0) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes menu_item {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 15rem, 0) scale(0);
            transform: translate3d(0, 15rem, 0) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
}

@media (max-width: 1399.98px) {
  .menu .menu_items_wrapper .menu_items .menu_item {
    -webkit-box-flex: 27.5%;
        -ms-flex: 27.5%;
            flex: 27.5%;
    max-width: 27.5%;
  }
  .menu .menu_items_wrapper .menu_items .menu_item .menu_item_name {
    font-size: 1.35rem;
  }
}

@media (max-width: 991.98px) {
  .menu .menu_items_wrapper .menu_items .menu_item {
    -webkit-box-flex: 30.75%;
        -ms-flex: 30.75%;
            flex: 30.75%;
    max-width: 30.75%;
  }
}

@media (max-width: 767.98px) {
  .menu .menu_items_wrapper .menu_items {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .menu .menu_items_wrapper .menu_items .menu_item {
    -webkit-box-flex: 47.5%;
        -ms-flex: 47.5%;
            flex: 47.5%;
    max-width: 47.5%;
  }
  .menu .menu_items_wrapper .menu_items .menu_item .menu_item_name {
    padding: 1.5rem 0 0.75rem 0;
  }
}

@media (max-width: 575.98px) {
  .menu .panel_title_large {
    margin: 1.5rem 0 2.25rem 0;
  }
  .menu .menu_selections {
    height: auto;
    margin: 2.5rem 0 3.25rem 0;
    line-height: 3.5rem;
    text-align: center;
  }
  .menu .menu_selections .menu_selection {
    display: inline-block;
    padding: 0 1.25rem;
    float: none;
  }
  .menu .menu_items_wrapper .menu_items .menu_item {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=menu.css.map */